<%- include('partials/header') -%>

    <div class="breadcrumb-section" style="background: linear-gradient(180deg,rgba(48,103,255,0.08) 0%,rgba(48,103,255,0) 100%)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-wrapper">
                        <div class="banner-content">
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home</a></li>
                                <li>AI & ML Development</li>
                            </ul>
                            <h1>Leading AI & ML Development Company Creating Innovative Solutions for Your Business</h1>
                        </div>
                        <div class="scroll-down-btn">
                            <a href="#service-details-section">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewbox="0 0 19 29">
                                    <path
                                        d="M9.5 0V28M9.5 28C10 24.3333 12.4 17.1 18 17.5M9.5 28C8.5 24.1667 5.4 16.7 1 17.5">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="service-details-page pt-120 mb-120" id="service-details-section">
        <div class="container">
            <div class="service-details-top-area mb-80">
                <div class="row g-lg-4 gy-5 align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2 wow animate fadeInLeft" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="service-details-top-content">
                            <h2>AI & ML Development Services</h2>
                            <p>Our AI & ML development team transforms your ideas into innovative solutions by leveraging cutting-edge technologies and advanced algorithms, delivering impactful results and driving business growth.</p>
                            <ul class="key-features">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Deep Learning
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Data Analytics
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Facial Recognition Software
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Predictive Analysis
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Machine Learning
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    NLP
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Computer Vision
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1 wow animate fadeInRight" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="service-details-img">
                            <img src="assets/img/innerpage/aiml.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-details-feature-section mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title5 mb-70 wow animate fadeInLeft" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <h2>The Expertise of Our AI & ML Development Team</h2>
                        <p>Leverage the advanced capabilities of our AI & ML development team to create intelligent, data-driven solutions that enhance business efficiency and drive innovation.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="service-feature-list">
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="200ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/ai-consultation.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AI Consultation</h5>
                                <p>If you're struggling to approach an independent AI development company for your custom artificial intelligence development solutions, we've got your back. Consult with our AI developers for an end-to-end AI development brainstorming session to bring about a much-needed business transformation.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/ai-design.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AI Design</h5>
                                <p>We leverage AI to tackle all sorts of real-life design problems and revolutionize the graphic industry. Being an artificial intelligence software development company, we design solutions that are interactive and user-friendly.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="600ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/custom-ai-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Custom AI Development</h5>
                                <p>Our dedicated AI developers hold industrial experience in curating custom artificial intelligence development solutions and render immaculate assistance in getting them right. You can also hire AI developers from our pre-vetted pool of candidates to achieve an intelligent solution based on your specific needs.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="800ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/ai-security.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AI Security</h5>
                                <p>As a prominent artificial intelligence software development company, we empower businesses to strengthen their data security. From vulnerability detections to malware attack alerts to combating other threats, we seamlessly combine the power of AI with cyber security to reduce global data exposure.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/ai-ops.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AI Ops</h5>
                                <p>Our AI development services assist businesses in improving application performance and providing an amazing user experience while reducing IT costs and optimizing business operations by creating AIOps solutions based on their development requirements.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/ai-saas-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AI SaaS Development</h5>
                                <p>Hire your own Artificial Intelligence team from an independent AI development company like ours to create an AI-enhanced smart software infrastructure. We can assist you decrease the time and expense of developing and maintaining hardware while also offering ongoing support.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/generative-ai-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Generative AI Development</h5>
                                <p>Looking for a solution that incorporates GPT, Midjourney, DALL-E, and other features? Our team of AI developers has been assisting worldwide organizations in building custom artificial intelligence development solutions using generative AI to make you future-ready.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/ai-chatbot.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AI Chatbot Development</h5>
                                <p>Personalized AI chatbots can provide a smarter and faster client experience. Provide intelligent help for a variety of platforms, websites, mobile applications, and more. Improve and automate the customer interaction and communication processes.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/ai-product.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AI Product Development</h5>
                                <p>As one of the top-rated AI software development companies, we assist businesses in owning smart goods that are supported by innovative algorithms and approaches. This enables excellent scalability and reliability to foster innovation.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/aiml-development/hire-ai-developer.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Hire AI Developers</h5>
                                <p>We have extensive experience designing and delivering smart solutions with the most recent and relevant AI development tools. Hire AI developers to create feature-rich solutions like never before.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="home3-project-management-section service-details-tools-section scroll-margin pt-120 mb-120" id="project-section">
        <div class="container">
            <div class="row justify-content-center mb-60">
                <div class="col-lg-8">
                    <div class="section-title5 text-center">
                        <span class="sub-title5 two">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                <path
                                    d="M3.7081 12.9544C3.41861 13.1128 3.09011 12.8352 3.14861 12.4808L3.7711 8.69694L1.12886 6.01223C0.882112 5.76104 1.01036 5.30186 1.34111 5.25226L5.0146 4.69548L6.6526 1.23399C6.80035 0.922003 7.2001 0.922003 7.34785 1.23399L8.98584 4.69548L12.6593 5.25226C12.9901 5.30186 13.1183 5.76104 12.8708 6.01223L10.2293 8.69694L10.8518 12.4808C10.9103 12.8352 10.5818 13.1128 10.2923 12.9544L6.9991 11.1497L3.7081 12.9544Z">
                                </path>
                            </svg>
                            Our Tools
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                <path
                                    d="M3.7081 12.9544C3.41861 13.1128 3.09011 12.8352 3.14861 12.4808L3.7711 8.69694L1.12886 6.01223C0.882112 5.76104 1.01036 5.30186 1.34111 5.25226L5.0146 4.69548L6.6526 1.23399C6.80035 0.922003 7.2001 0.922003 7.34785 1.23399L8.98584 4.69548L12.6593 5.25226C12.9901 5.30186 13.1183 5.76104 12.8708 6.01223L10.2293 8.69694L10.8518 12.4808C10.9103 12.8352 10.5818 13.1128 10.2923 12.9544L6.9991 11.1497L3.7081 12.9544Z">
                                </path>
                            </svg>
                        </span>
                        <h2>AI & ML Technologies<span>We Work On.</span></h2>
                    </div>
                </div>
            </div>
            <div class="project-management-tab-wrapper">
                <div class="project-management-nav mb-50">
                    <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link active text-uppercase" id="frameworks-ai-tab" data-bs-toggle="tab"
                                data-bs-target="#frameworks-ai" type="button" role="tab"
                                aria-controls="frameworks-ai" aria-selected="true">Frameworks</button>
                            <button class="nav-link text-uppercase" id="module-tab" data-bs-toggle="tab" data-bs-target="#module"
                                type="button" role="tab" aria-controls="module" aria-selected="false">Module</button>
                            <button class="nav-link text-uppercase" id="libraries-tab" data-bs-toggle="tab"
                                data-bs-target="#libraries" type="button" role="tab"
                                aria-controls="libraries" aria-selected="false">Libraries</button>
                            <button class="nav-link text-uppercase" id="algorithms-tab" data-bs-toggle="tab"
                                data-bs-target="#algorithms" type="button" role="tab"
                                aria-controls="algorithms" aria-selected="false">Algorithms</button>
                            <button class="nav-link text-uppercase" id="neural-networks-tab" data-bs-toggle="tab" data-bs-target="#neural-networks"
                                type="button" role="tab" aria-controls="neural-networks" aria-selected="false">Neural Networks</button>
                            <button class="nav-link text-uppercase" id="concepts-tab" data-bs-toggle="tab" data-bs-target="#concepts"
                                type="button" role="tab" aria-controls="concepts" aria-selected="false">Concepts</button>
                        </div>
                    </nav>
                </div>
                <div class="project-management-tab">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="frameworks-ai" role="tabpanel"
                            aria-labelledby="frameworks-ai-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/tensorflow.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Tensorflow</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/pytorch-2.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>PyTorch</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/mxnet.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>MXNet</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/nvidia.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Nvidia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/Caffe.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Caffe</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/Caffe.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Caffe2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/chainer.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Chainer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/Theano.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Theano</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="module" role="tabpanel" aria-labelledby="module-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/Microsoft-CogTK.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Microsoft Cognitive Toolkit</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/machine-learning.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Core ML</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/kurento-white.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Kurento’s computer vision module</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="libraries" role="tabpanel"
                            aria-labelledby="libraries-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/sonnet.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Sonnet</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/tensorflow.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Tensorlfow probability</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/tensorflow.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Tensor2Tensor</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/tensorflow.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>tf-slim</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/openNN.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>OpenNN</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/neuroph.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Neuroph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="algorithms" role="tabpanel"
                            aria-labelledby="algorithms-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Supervised/ Unsupervised Learning</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Fewshot Learning</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Clustering</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Metric Learning</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="neural-networks" role="tabpanel" aria-labelledby="neural-networks-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>CNN</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>RNN</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Representation Learning</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Manifold Learning</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Variational Autoencoders</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Bayesian Network</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Autoregressive Networks</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Autoencoders (VAE, DAE SAE, etc.)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Generative adversarial networks (GANs)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Deep Q-Network (DQN)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Feedforward Neural Network</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="tab-pane fade" id="concepts" role="tabpanel" aria-labelledby="concepts-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Supervised/unsupervised learning</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Clustering (density-based, Hierarchical, partitioning)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Metric learning</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-name">
                                            <span>Few-shot learning</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/contact') -%>

    <%- include('partials/footer') -%>