<%- include('partials/header') -%>

    <div class="breadcrumb-section" style="background: linear-gradient(180deg,rgba(48,103,255,0.08) 0%,rgba(48,103,255,0) 100%)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-wrapper">
                        <div class="banner-content">
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home</a></li>
                                <li>eCommerce Development</li>
                            </ul>
                            <h1>Custom eCommerce Development Company Specializing in Tailored Solutions for Your Business Needs</h1>
                        </div>
                        <div class="scroll-down-btn">
                            <a href="#service-details-section">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewbox="0 0 19 29">
                                    <path
                                        d="M9.5 0V28M9.5 28C10 24.3333 12.4 17.1 18 17.5M9.5 28C8.5 24.1667 5.4 16.7 1 17.5">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="service-details-page pt-120 mb-120" id="service-details-section">
        <div class="container">
            <div class="service-details-top-area mb-80">
                <div class="row g-lg-4 gy-5 align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2 wow animate fadeInLeft" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="service-details-top-content">
                            <h2>Top eCommerce Development</h2>
                            <p>As a leading eCommerce development company, we specialize in creating innovative and scalable online stores for global businesses. Our expert developers use the latest technologies and platforms to deliver seamless, user-friendly shopping experiences. We're committed to excellence in every project we undertake.</p>
                            <ul class="key-features">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Shopify Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    WooCommerce Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Magento Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    BigCommerce Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Ubercart Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    CS-Cart Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    PrestaShop Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    VirtuMart Development
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1 wow animate fadeInRight" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="service-details-img">
                            <img src="assets/img/innerpage/e-commerce-development.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-details-feature-section mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title5 mb-70 wow animate fadeInLeft" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <h2>Custom ecommerce web Development Services</h2>
                        <p>Trusted E-commerce development company with the expertise to build innovative web stores enriched with top-notch features and functionalities.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="service-feature-list">
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="200ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/ecommerce-consultation.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>E-commerce Development Strategy & Consultation</h5>
                                <p>Not sure how to get started with your ECommerce web development journey or which e-commerce development tech stack is perfect for you? Get the consultation as our expert team of ECommerce developers has answers for all of your ECommerce development queries.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/custom-ecommerce-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Custom E-Commerce Development</h5>
                                <p>Does your most unique development requirement need the attention of E-commerce development experts? Being a leading E-commerce development company, we leverage our years of experience and expertise to develop the most suitable solution based on the custom development requirements.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="600ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/mcommerce-store-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>M-commerce Store Development</h5>
                                <p>Get the M-Commerce development services from the most trusted team of E-commerce developers to Make sure your target audience can browse through your store on their mobile devices as well.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="800ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/cloud-headless-commerce-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Cloud & Headless Commerce Development</h5>
                                <p>Bid goodbye to legacy eCommerce architecture and decouple the front-end and back-end of your online store to step into the future of E-commerce development. Get our Cloud & Headless Commerce Development offering to explore the benefits of Microservice architecture.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/ecommerce-platform-migration.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>E-commerce Platform Migration</h5>
                                <p>Bring the best out of your legacy E-commerce store and optimize its performance through our E-commerce platform migration services. Shift your existing store to a more suitable platform with a future-ready approach to ensure a rich user experience for the world of tomorrow.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/ecommerce-support.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>E-commerce Maintenance and Support</h5>
                                <p>Get E-commerce store maintenance and support services to make sure your online store always stays optimized and delivers impressive user experience for a long time leveraging our years of E-commerce web development experience and expertise.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/e-commerce-frontend.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>E-commerce Front-End Development</h5>
                                <p>Being the most trusted E-commerce development company, our e-commerce developers make sure to deliver the most impressive user experience enhancing the front-end of the store with responsive design and User-Friendly interface.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/ecommerce-backend.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>E-commerce Back-end Development</h5>
                                <p>Own the robust and scalable back-end architecture with enhanced data security, third-party APIs, and other top-notch server-side functionality that powers e-commerce websites by leveraging the development expertise of certified E-commerce developers.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/e-commerce-ux.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>E-commerce UX Design</h5>
                                <p>The development team of the best eCommerce development company builds a visually appealing and user-friendly e-commerce web solution that helps global businesses enhance customer engagement, improve conversion rates, and ultimately drive sales.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/ecommerce-developer/hire-ecommerce-developer.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Hire E-commerce Developers</h5>
                                <p>Hire e-commerce developers from the right ecommerce development company to deliver the most unique and scalable E-commerce solution to your client by leveraging their development expertise and experience.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="home3-project-management-section service-details-tools-section scroll-margin pt-120 mb-120" id="project-section">
        <div class="container">
            <div class="row justify-content-center mb-60">
                <div class="col-lg-8">
                    <div class="section-title5 text-center">
                        <span class="sub-title5 two">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                <path
                                    d="M3.7081 12.9544C3.41861 13.1128 3.09011 12.8352 3.14861 12.4808L3.7711 8.69694L1.12886 6.01223C0.882112 5.76104 1.01036 5.30186 1.34111 5.25226L5.0146 4.69548L6.6526 1.23399C6.80035 0.922003 7.2001 0.922003 7.34785 1.23399L8.98584 4.69548L12.6593 5.25226C12.9901 5.30186 13.1183 5.76104 12.8708 6.01223L10.2293 8.69694L10.8518 12.4808C10.9103 12.8352 10.5818 13.1128 10.2923 12.9544L6.9991 11.1497L3.7081 12.9544Z">
                                </path>
                            </svg>
                            Our Tools
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                <path
                                    d="M3.7081 12.9544C3.41861 13.1128 3.09011 12.8352 3.14861 12.4808L3.7711 8.69694L1.12886 6.01223C0.882112 5.76104 1.01036 5.30186 1.34111 5.25226L5.0146 4.69548L6.6526 1.23399C6.80035 0.922003 7.2001 0.922003 7.34785 1.23399L8.98584 4.69548L12.6593 5.25226C12.9901 5.30186 13.1183 5.76104 12.8708 6.01223L10.2293 8.69694L10.8518 12.4808C10.9103 12.8352 10.5818 13.1128 10.2923 12.9544L6.9991 11.1497L3.7081 12.9544Z">
                                </path>
                            </svg>
                        </span>
                        <h2>Web Development Technologies<span>We Work On.</span></h2>
                    </div>
                </div>
            </div>
            <div class="project-management-tab-wrapper">
                <div class="project-management-nav mb-50">
                    <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link active text-uppercase" id="front-end-tab" data-bs-toggle="tab"
                                data-bs-target="#front-end" type="button" role="tab"
                                aria-controls="front-end" aria-selected="true">FrontEnd</button>
                            <button class="nav-link text-uppercase" id="back-end-tab" data-bs-toggle="tab" data-bs-target="#back-end"
                                type="button" role="tab" aria-controls="back-end" aria-selected="false">BackEnd</button>
                            <button class="nav-link text-uppercase" id="database-tab" data-bs-toggle="tab"
                                data-bs-target="#database" type="button" role="tab"
                                aria-controls="database" aria-selected="false">Database</button>
                            <button class="nav-link text-uppercase" id="platforms-tab" data-bs-toggle="tab"
                                data-bs-target="#platforms" type="button" role="tab"
                                aria-controls="platforms" aria-selected="false">Platforms</button>
                            <button class="nav-link text-uppercase" id="ui-ux-tab" data-bs-toggle="tab" data-bs-target="#ui-ux"
                                type="button" role="tab" aria-controls="ui-ux" aria-selected="false">UI/UX</button>
                        </div>
                    </nav>
                </div>
                <div class="project-management-tab">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="front-end" role="tabpanel"
                            aria-labelledby="front-end-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/javascript.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>JavaScript</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/typescript.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>TypeScript</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/vuejs.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Vue Js</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/angular-js.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Angular</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/next.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>NextJS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/react-js.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>React Js</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/html-5.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>HTML 5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/css-3.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>CSS 3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/webpack.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Webpack</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/babel.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Babel</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/flutter.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Flutter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/kotlin.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Kotlin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/swift-icon.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Swift</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="back-end" role="tabpanel" aria-labelledby="back-end-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/node-js.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Node Js</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/python.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Python</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/php.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Php</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/java.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Java</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/go.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Go</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/ruby-on-rails-ison.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Ruby on Rails</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/ruby-on-rails.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Ruby</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/docker.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Docker</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/kubernetes.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Kubernetes</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/django.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Django</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/expressjs.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Express Js</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/spring.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Spring Boot</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="database" role="tabpanel"
                            aria-labelledby="database-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/mongodb.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>MongoDB</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/mysql.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>SQL</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/mysql.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>MySQL</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/sqllite.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>SQLite</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/oracle.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Oracle</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/postgresql.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>PostgreSQL</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/firebase.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Firebase</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/nosql.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>NoSQL Languages</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="platforms" role="tabpanel"
                            aria-labelledby="platforms-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/shopify.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Shopify</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/magento.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Magento</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/woocommerce.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>WooCommerce</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/bigcommerce.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>BigCommerce</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/AWS.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>AWS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/azure.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Azure</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/GCP.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>GCP</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/android.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Android</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/react-icon.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>React Native</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/flutter.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Flutter</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ui-ux" role="tabpanel" aria-labelledby="ui-ux-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/invision.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>InVision</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/adobe-xd.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Adobe XD</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/figma-icon.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Figma</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/sketch.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Sketch</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/marvel.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Marvel</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/usabilityHub.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>UsabilityHub</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/userTesting.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>UserTesting</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/zeplin.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Zeplin</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/contact') -%>

    <%- include('partials/footer') -%>