<%- include('partials/header') -%>

    <% if (typeof success !=='undefined' ) { %>
        <div class="toast alert-dismissible fade <%= success ? 'show' : '' %>">
            <% if (success) { %>
                <div class="alert alert-success">
                    Your message has been sent successfully!
                </div>
                <% } else { %>
                    <div class="alert alert-danger">
                        There was an error sending your message. Please try again.
                    </div>
                    <% } %>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
        </div>
        <% } %>


            <!-- Hero Section Starts-->
            <div class="home1-banner-section">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6 d-flex align-items-xxl-start align-items-center">
                            <div class="banner-content">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                        <g>
                                            <path
                                                d="M6.6304 0.338424C6.67018 -0.112811 7.32982 -0.112807 7.3696 0.338428L7.72654 4.38625C7.75291 4.68505 8.10454 4.83069 8.33443 4.63804L11.4491 2.02821C11.7963 1.73728 12.2627 2.20368 11.9718 2.55089L9.36197 5.66556C9.1693 5.89546 9.31496 6.24709 9.61374 6.27346L13.6615 6.6304C14.1128 6.67018 14.1128 7.32982 13.6615 7.3696L9.61374 7.72654C9.31496 7.75291 9.1693 8.10454 9.36197 8.33443L11.9718 11.4491C12.2627 11.7963 11.7963 12.2627 11.4491 11.9718L8.33443 9.36197C8.10454 9.1693 7.75291 9.31496 7.72654 9.61374L7.3696 13.6615C7.32982 14.1128 6.67018 14.1128 6.6304 13.6615L6.27346 9.61374C6.24709 9.31496 5.89546 9.1693 5.66556 9.36197L2.55089 11.9718C2.20368 12.2627 1.73729 11.7963 2.02822 11.4491L4.63804 8.33443C4.83069 8.10454 4.68504 7.75291 4.38625 7.72654L0.338424 7.3696C-0.112811 7.32982 -0.112807 6.67018 0.338428 6.6304L4.38625 6.27346C4.68505 6.24709 4.83069 5.89546 4.63804 5.66556L2.02821 2.55089C1.73728 2.20368 2.20368 1.73729 2.55089 2.02822L5.66556 4.63804C5.89546 4.83069 6.24709 4.68504 6.27346 4.38625L6.6304 0.338424Z">
                                            </path>
                                        </g>
                                    </svg>
                                    Expertise You Can Trust
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                        <g>
                                            <path
                                                d="M6.6304 0.338424C6.67018 -0.112811 7.32982 -0.112807 7.3696 0.338428L7.72654 4.38625C7.75291 4.68505 8.10454 4.83069 8.33443 4.63804L11.4491 2.02821C11.7963 1.73728 12.2627 2.20368 11.9718 2.55089L9.36197 5.66556C9.1693 5.89546 9.31496 6.24709 9.61374 6.27346L13.6615 6.6304C14.1128 6.67018 14.1128 7.32982 13.6615 7.3696L9.61374 7.72654C9.31496 7.75291 9.1693 8.10454 9.36197 8.33443L11.9718 11.4491C12.2627 11.7963 11.7963 12.2627 11.4491 11.9718L8.33443 9.36197C8.10454 9.1693 7.75291 9.31496 7.72654 9.61374L7.3696 13.6615C7.32982 14.1128 6.67018 14.1128 6.6304 13.6615L6.27346 9.61374C6.24709 9.31496 5.89546 9.1693 5.66556 9.36197L2.55089 11.9718C2.20368 12.2627 1.73729 11.7963 2.02822 11.4491L4.63804 8.33443C4.83069 8.10454 4.68504 7.75291 4.38625 7.72654L0.338424 7.3696C-0.112811 7.32982 -0.112807 6.67018 0.338428 6.6304L4.38625 6.27346C4.68505 6.24709 4.83069 5.89546 4.63804 5.66556L2.02821 2.55089C1.73728 2.20368 2.20368 1.73729 2.55089 2.02822L5.66556 4.63804C5.89546 4.83069 6.24709 4.68504 6.27346 4.38625L6.6304 0.338424Z">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                                <h1>Your One-Stop Solution for Comprehensive IT Services </h1>
                                <p>
                                    Join us on a journey to success, fueled by passion and innovation. At Dynamics
                                    Solutions, we
                                    believe in bold ideas and turn them into reality, offering all IT services under one
                                    roof.
                                </p>
                                <div class="banner-content-bottom">
                                    <a href="#contact" class="primary-btn1" data-text="Get In Touch">
                                        <span>Get In Touch</span>
                                    </a>
                                    <!-- <a href="https://clutch.co" class="rating-area">
                                <div class="review">
                                    <span>Review On</span>
                                    <img class="logo-dark" src="assets/img/home1/icon/clutch-logo.svg" alt="">
                                    <img class="logo-light" src="assets/img/home1/icon/clutch-logo-white.svg" alt="">
                                </div>
                                <div class="rating">
                                    <ul class="star">
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-half"></i></li>
                                    </ul>
                                    <span>(50 reviews)</span>
                                </div>
                            </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-img-wrap">
                                <div class="swiper banner-img-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="assets/img/home1/banner-img1.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="assets/img/home1/banner-img2.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="assets/img/home1/banner-img3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="video-area">
            <div class="badge">
                <span class="badge__char">S</span>
                <span class="badge__char">T</span>
                <span class="badge__char">R</span>
                <span class="badge__char">A</span>
                <span class="badge__char">T</span>
                <span class="badge__char">E</span>
                <span class="badge__char">G</span>
                <span class="badge__char">Y</span>
                <span class="badge__char">.</span>
                <span class="badge__char">D</span>
                <span class="badge__char">E</span>
                <span class="badge__char">S</span>
                <span class="badge__char">I</span>
                <span class="badge__char">G</span>
                <span class="badge__char">N</span>
                <span class="badge__char">.</span>
                <span class="badge__char">S</span>
                <span class="badge__char">C</span>
                <span class="badge__char">A</span>
                <span class="badge__char">L</span>
                <span class="badge__char">E</span>
                <span class="badge__char">.</span>
                <div class="play">
                    <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="play-icon video1">
                        <i class="bi bi-play-fill"></i>
                    </a>
                </div>
            </div>
        </div> -->
            </div>
            <!-- Hero Section Ends -->

            <!-- Marque Slider Starts -->
            <div class="home1-banner-bottom mb-110">
                <div class="marquee_text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17">
                        <path
                            d="M17 8.5L14.6578 6.84722L15.8666 4.25001L13.0051 3.99493L12.75 1.1334L10.1528 2.34215L8.5 0L6.84722 2.34215L4.25001 1.1334L3.99493 3.99493L1.1334 4.25001L2.34215 6.84722L0 8.5L2.34215 10.1528L1.1334 12.75L3.99493 13.0051L4.25001 15.8666L6.84722 14.6578L8.5 17L10.1528 14.6578L12.75 15.8666L13.0051 13.0051L15.8666 12.75L14.6578 10.1528L17 8.5Z">
                        </path>
                    </svg>
                    <h6>Welcome to Dynamics Solutions</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17">
                        <path
                            d="M17 8.5L14.6578 6.84722L15.8666 4.25001L13.0051 3.99493L12.75 1.1334L10.1528 2.34215L8.5 0L6.84722 2.34215L4.25001 1.1334L3.99493 3.99493L1.1334 4.25001L2.34215 6.84722L0 8.5L2.34215 10.1528L1.1334 12.75L3.99493 13.0051L4.25001 15.8666L6.84722 14.6578L8.5 17L10.1528 14.6578L12.75 15.8666L13.0051 13.0051L15.8666 12.75L14.6578 10.1528L17 8.5Z">
                        </path>
                    </svg>
                    <h6>Welcome to Dynamics Solutions</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17">
                        <path
                            d="M17 8.5L14.6578 6.84722L15.8666 4.25001L13.0051 3.99493L12.75 1.1334L10.1528 2.34215L8.5 0L6.84722 2.34215L4.25001 1.1334L3.99493 3.99493L1.1334 4.25001L2.34215 6.84722L0 8.5L2.34215 10.1528L1.1334 12.75L3.99493 13.0051L4.25001 15.8666L6.84722 14.6578L8.5 17L10.1528 14.6578L12.75 15.8666L13.0051 13.0051L15.8666 12.75L14.6578 10.1528L17 8.5Z">
                        </path>
                    </svg>
                    <h6>Welcome to Dynamics Solutions</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17">
                        <path
                            d="M17 8.5L14.6578 6.84722L15.8666 4.25001L13.0051 3.99493L12.75 1.1334L10.1528 2.34215L8.5 0L6.84722 2.34215L4.25001 1.1334L3.99493 3.99493L1.1334 4.25001L2.34215 6.84722L0 8.5L2.34215 10.1528L1.1334 12.75L3.99493 13.0051L4.25001 15.8666L6.84722 14.6578L8.5 17L10.1528 14.6578L12.75 15.8666L13.0051 13.0051L15.8666 12.75L14.6578 10.1528L17 8.5Z">
                        </path>
                    </svg>
                    <h6>Welcome to Dynamics Solutions</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17">
                        <path
                            d="M17 8.5L14.6578 6.84722L15.8666 4.25001L13.0051 3.99493L12.75 1.1334L10.1528 2.34215L8.5 0L6.84722 2.34215L4.25001 1.1334L3.99493 3.99493L1.1334 4.25001L2.34215 6.84722L0 8.5L2.34215 10.1528L1.1334 12.75L3.99493 13.0051L4.25001 15.8666L6.84722 14.6578L8.5 17L10.1528 14.6578L12.75 15.8666L13.0051 13.0051L15.8666 12.75L14.6578 10.1528L17 8.5Z">
                        </path>
                    </svg>
                    <h6>Welcome to Dynamics Solutions</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17">
                        <path
                            d="M17 8.5L14.6578 6.84722L15.8666 4.25001L13.0051 3.99493L12.75 1.1334L10.1528 2.34215L8.5 0L6.84722 2.34215L4.25001 1.1334L3.99493 3.99493L1.1334 4.25001L2.34215 6.84722L0 8.5L2.34215 10.1528L1.1334 12.75L3.99493 13.0051L4.25001 15.8666L6.84722 14.6578L8.5 17L10.1528 14.6578L12.75 15.8666L13.0051 13.0051L15.8666 12.75L14.6578 10.1528L17 8.5Z">
                        </path>
                    </svg>
                    <h6>Welcome to Dynamics Solutions</h6>
                </div>
            </div>
            <!-- Marque Slider Ends -->

            <!-- About Section Starts -->
            <div id="about-us" class="home1-about-section mb-110">
                <div class="container">
                    <div class="row mb-90">
                        <div class="col-lg-9 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="2000ms">
                            <div class="about-content">
                                <div class="about-section-title">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                            viewbox="0 0 14 14">
                                            <g>
                                                <path
                                                    d="M6.6304 0.338424C6.67018 -0.112811 7.32982 -0.112807 7.3696 0.338428L7.72654 4.38625C7.75291 4.68505 8.10454 4.83069 8.33443 4.63804L11.4491 2.02821C11.7963 1.73728 12.2627 2.20368 11.9718 2.55089L9.36197 5.66556C9.1693 5.89546 9.31496 6.24709 9.61374 6.27346L13.6615 6.6304C14.1128 6.67018 14.1128 7.32982 13.6615 7.3696L9.61374 7.72654C9.31496 7.75291 9.1693 8.10454 9.36197 8.33443L11.9718 11.4491C12.2627 11.7963 11.7963 12.2627 11.4491 11.9718L8.33443 9.36197C8.10454 9.1693 7.75291 9.31496 7.72654 9.61374L7.3696 13.6615C7.32982 14.1128 6.67018 14.1128 6.6304 13.6615L6.27346 9.61374C6.24709 9.31496 5.89546 9.1693 5.66556 9.36197L2.55089 11.9718C2.20368 12.2627 1.73729 11.7963 2.02822 11.4491L4.63804 8.33443C4.83069 8.10454 4.68504 7.75291 4.38625 7.72654L0.338424 7.3696C-0.112811 7.32982 -0.112807 6.67018 0.338428 6.6304L4.38625 6.27346C4.68505 6.24709 4.83069 5.89546 4.63804 5.66556L2.02821 2.55089C1.73728 2.20368 2.20368 1.73729 2.55089 2.02822L5.66556 4.63804C5.89546 4.83069 6.24709 4.68504 6.27346 4.38625L6.6304 0.338424Z">
                                                </path>
                                            </g>
                                        </svg>
                                        Expertise You Can Trust
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                            viewbox="0 0 14 14">
                                            <g>
                                                <path
                                                    d="M6.6304 0.338424C6.67018 -0.112811 7.32982 -0.112807 7.3696 0.338428L7.72654 4.38625C7.75291 4.68505 8.10454 4.83069 8.33443 4.63804L11.4491 2.02821C11.7963 1.73728 12.2627 2.20368 11.9718 2.55089L9.36197 5.66556C9.1693 5.89546 9.31496 6.24709 9.61374 6.27346L13.6615 6.6304C14.1128 6.67018 14.1128 7.32982 13.6615 7.3696L9.61374 7.72654C9.31496 7.75291 9.1693 8.10454 9.36197 8.33443L11.9718 11.4491C12.2627 11.7963 11.7963 12.2627 11.4491 11.9718L8.33443 9.36197C8.10454 9.1693 7.75291 9.31496 7.72654 9.61374L7.3696 13.6615C7.32982 14.1128 6.67018 14.1128 6.6304 13.6615L6.27346 9.61374C6.24709 9.31496 5.89546 9.1693 5.66556 9.36197L2.55089 11.9718C2.20368 12.2627 1.73729 11.7963 2.02822 11.4491L4.63804 8.33443C4.83069 8.10454 4.68504 7.75291 4.38625 7.72654L0.338424 7.3696C-0.112811 7.32982 -0.112807 6.67018 0.338428 6.6304L4.38625 6.27346C4.68505 6.24709 4.83069 5.89546 4.63804 5.66556L2.02821 2.55089C1.73728 2.20368 2.20368 1.73729 2.55089 2.02822L5.66556 4.63804C5.89546 4.83069 6.24709 4.68504 6.27346 4.38625L6.6304 0.338424Z">
                                                </path>
                                            </g>
                                        </svg>
                                    </span>
                                    <h2>We harness young talent to deliver innovative IT services and bring unique ideas
                                        to life, all under one roof.</h2>
                                    <p>Where innovation meets passion, Dynamics Solutions began with a simple idea and a
                                        shared dream. Founded recently, we set out to bring new innovations and
                                        introduce cutting-edge technology. From our humble beginnings to our current
                                        aspirations, every step has been driven by relentless commitment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-lg-end wow animate fadeInRight"
                            data-wow-delay="200ms" data-wow-duration="2000ms">
                            <div class="about-countdown-area">
                                <ul>
                                    <li class="single-countdown">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewbox="0 0 40 40">
                                                <g>
                                                    <path
                                                        d="M36.4375 7.52547H35.9813C35.6582 7.52547 35.3965 7.78722 35.3965 8.11026C35.3965 8.4333 35.6582 8.69506 35.9813 8.69506H36.4375C37.757 8.69506 38.8304 9.76851 38.8304 11.0879V33.4571C38.8304 34.7765 37.7569 35.85 36.4375 35.85H3.56249C2.24312 35.8501 1.16959 34.7765 1.16959 33.4571V15.5232C1.16959 15.2002 0.907836 14.9384 0.584795 14.9384C0.261754 14.9384 0 15.2002 0 15.5232V33.4571C0 35.4215 1.59813 37.0196 3.56249 37.0196H36.4374C38.4018 37.0196 39.9999 35.4215 39.9999 33.4571V11.088C40 9.1236 38.4019 7.52547 36.4375 7.52547ZM0.584795 13.6158C0.907836 13.6158 1.16959 13.3541 1.16959 13.031V6.54286C1.16959 5.2234 2.24312 4.15003 3.56249 4.15003H15.024C15.434 4.15023 15.8371 4.25558 16.1948 4.45599L22.9396 8.23962C23.4721 8.53796 24.0722 8.69479 24.6826 8.69514H27.3876C27.7106 8.69514 27.9724 8.43338 27.9724 8.11034C27.9724 7.7873 27.7106 7.52555 27.3876 7.52555H24.6826C24.2726 7.52532 23.8694 7.41998 23.5117 7.21958L16.767 3.43596C16.2345 3.13762 15.6344 2.98079 15.024 2.98044H3.56249C1.59813 2.98036 0 4.57849 0 6.54286V13.031C0 13.1861 0.0616122 13.3349 0.171283 13.4446C0.280953 13.5542 0.429698 13.6158 0.584795 13.6158Z">
                                                    </path>
                                                    <path
                                                        d="M16.2664 12.6079C17.4493 12.1095 18.7054 11.8568 20 11.8568C21.3398 11.8568 22.637 12.1274 23.8558 12.661C23.9322 12.6944 24.0118 12.7102 24.0901 12.7102C24.2038 12.7103 24.3151 12.6771 24.4103 12.6149C24.5055 12.5527 24.5805 12.464 24.6261 12.3598C24.6883 12.2178 24.6915 12.0568 24.635 11.9124C24.5785 11.7679 24.467 11.6518 24.3249 11.5896C22.9574 10.9909 21.5023 10.6873 20 10.6873C18.5487 10.6873 17.1397 10.9709 15.8123 11.53C15.6694 11.5903 15.5563 11.7048 15.4978 11.8485C15.4393 11.9921 15.4403 12.1531 15.5004 12.2961C15.5607 12.439 15.6752 12.5521 15.8189 12.6105C15.9625 12.669 16.1235 12.6681 16.2664 12.6079ZM14.0679 30.5014C15.8307 31.6629 17.882 32.2769 20 32.2769C25.9523 32.2769 30.7948 27.4344 30.7948 21.482C30.7948 20.116 30.5429 18.7845 30.0461 17.5245C29.9872 17.383 29.8752 17.2703 29.7341 17.2105C29.593 17.1507 29.434 17.1488 29.2915 17.205C29.1489 17.2612 29.0341 17.3711 28.9717 17.5111C28.9093 17.651 28.9044 17.8099 28.9579 17.9535C29.4006 19.0763 29.6251 20.2635 29.6251 21.482C29.6251 26.7894 25.3073 31.1073 19.9999 31.1073C18.1113 31.1073 16.2825 30.56 14.7114 29.5247C14.6473 29.4824 14.5755 29.4532 14.5001 29.4387C14.4246 29.4242 14.3471 29.4247 14.2719 29.4402C14.1967 29.4557 14.1252 29.4858 14.0616 29.5289C13.9981 29.5719 13.9436 29.6271 13.9013 29.6913C13.8591 29.7554 13.8299 29.8272 13.8154 29.9026C13.8009 29.978 13.8014 30.0556 13.8169 30.1308C13.8323 30.206 13.8625 30.2775 13.9055 30.341C13.9486 30.4046 14.0038 30.4591 14.0679 30.5014ZM12.0549 28.7891C12.1096 28.8487 12.1762 28.8963 12.2503 28.9288C12.3244 28.9613 12.4045 28.978 12.4854 28.9779C12.599 28.9779 12.7101 28.9448 12.8051 28.8826C12.9002 28.8205 12.9751 28.732 13.0207 28.628C13.0664 28.524 13.0807 28.409 13.062 28.297C13.0434 28.1849 12.9925 28.0808 12.9156 27.9972C11.277 26.2165 10.3747 23.9028 10.3747 21.482C10.3747 20.0538 10.6806 18.6786 11.2838 17.3948C11.3164 17.3253 11.3351 17.2501 11.3386 17.1733C11.3422 17.0966 11.3306 17.02 11.3046 16.9477C11.2785 16.8755 11.2385 16.8091 11.1868 16.7523C11.135 16.6955 11.0726 16.6495 11.0031 16.6168C10.9336 16.5842 10.8584 16.5655 10.7816 16.562C10.7049 16.5584 10.6282 16.57 10.556 16.596C10.4838 16.6221 10.4174 16.6621 10.3606 16.7138C10.3038 16.7655 10.2578 16.8279 10.2251 16.8975C9.54824 18.338 9.20508 19.8805 9.20508 21.482C9.20523 24.1969 10.2172 26.792 12.0549 28.7891Z">
                                                    </path>
                                                    <path
                                                        d="M20 29.9378C24.6625 29.9378 28.4556 26.1446 28.4556 21.4822C28.4556 20.7886 28.3705 20.0973 28.2026 19.4273C28.1839 19.3528 28.1508 19.2827 28.105 19.221C28.0592 19.1593 28.0018 19.1073 27.9359 19.0678C27.87 19.0283 27.797 19.0022 27.721 18.9909C27.6451 18.9797 27.5676 18.9835 27.4931 19.0022C27.4186 19.0208 27.3485 19.054 27.2869 19.0998C27.2252 19.1455 27.1731 19.203 27.1336 19.2689C27.0942 19.3347 27.068 19.4077 27.0568 19.4837C27.0455 19.5597 27.0493 19.6371 27.068 19.7116C27.2129 20.2907 27.2861 20.8853 27.286 21.4822C27.286 25.4996 24.0175 28.7682 20 28.7682C15.9826 28.7682 12.714 25.4996 12.714 21.4822C12.714 17.4646 15.9826 14.1961 20 14.1961C20.7028 14.1958 21.4018 14.2974 22.0754 14.4978C22.2241 14.542 22.3842 14.5254 22.5206 14.4516C22.6571 14.3778 22.7586 14.2528 22.8028 14.1042C22.8471 13.9555 22.8305 13.7953 22.7567 13.6589C22.6829 13.5225 22.5579 13.421 22.4092 13.3767C21.6273 13.1442 20.8158 13.0262 20 13.0265C15.3376 13.0265 11.5444 16.8196 11.5444 21.4822C11.5444 26.1445 15.3376 29.9378 20 29.9378Z">
                                                    </path>
                                                    <path
                                                        d="M27.3129 11.4224L19.4283 19.1532L18.3711 18.0223C18.0299 17.6576 17.4555 17.6382 17.0908 17.9794L15.2815 19.6707C15.1944 19.7518 15.1242 19.8493 15.075 19.9577C15.0258 20.066 14.9985 20.1831 14.9949 20.302C14.9905 20.4209 15.0098 20.5395 15.0517 20.6509C15.0935 20.7624 15.157 20.8644 15.2385 20.9511L17.7952 23.6858C17.9201 23.8185 18.0614 23.9347 18.2158 24.0317C18.3093 24.091 18.4179 24.1225 18.5287 24.1224H20.1964C20.3074 24.1224 20.4161 24.0909 20.5098 24.0314C20.6369 23.9511 20.7552 23.8577 20.8628 23.7527L24.128 20.5512C24.238 20.4425 24.3004 20.2946 24.3016 20.1399C24.3028 19.9852 24.2427 19.8364 24.1344 19.7259C24.0261 19.6155 23.8785 19.5525 23.7238 19.5506C23.5691 19.5488 23.4201 19.6083 23.3092 19.7161L20.044 22.9177C20.0317 22.9296 20.019 22.9415 20.0058 22.9529H18.7184C18.6938 22.9318 18.6708 22.9098 18.6497 22.8872L16.2731 20.345L17.697 19.0138L18.7584 20.1491C18.8406 20.2377 18.9399 20.3088 19.0502 20.3581C19.1605 20.4075 19.2797 20.434 19.4005 20.4363C19.6489 20.4427 19.8788 20.3497 20.0544 20.1775L27.9436 12.4423L29.3082 13.8342L25.0957 17.9646C24.9857 18.0734 24.9233 18.2213 24.9221 18.3759C24.9209 18.5306 24.981 18.6795 25.0893 18.7899C25.1976 18.9003 25.3452 18.9634 25.4999 18.9652C25.6546 18.9671 25.8037 18.9075 25.9145 18.7997L30.3153 14.4847C30.4006 14.4016 30.4685 14.3024 30.5151 14.1929C30.5617 14.0834 30.5862 13.9657 30.587 13.8467C30.5885 13.7277 30.5664 13.6096 30.5219 13.4992C30.4775 13.3888 30.4116 13.2883 30.328 13.2035L28.5942 11.4351C28.5111 11.3499 28.4119 11.282 28.3024 11.2353C28.1928 11.1887 28.0751 11.1643 27.9561 11.1635C27.7106 11.1628 27.4858 11.253 27.3129 11.4224ZM11.2118 15.0966C11.3702 15.3908 11.6639 15.5738 11.9973 15.5858C12.009 15.5863 12.0207 15.5865 12.0324 15.5865C12.3545 15.5865 12.6477 15.4256 12.8222 15.1511C13.1299 14.6673 13.5379 14.2702 14.0695 13.9369C14.3516 13.76 14.516 13.4559 14.5093 13.1234C14.5026 12.7943 14.3283 12.5005 14.043 12.3374C13.4866 12.019 13.08 11.6303 12.8003 11.149C12.6333 10.8615 12.3343 10.689 12.0007 10.6873H11.9958C11.6642 10.6873 11.3658 10.8566 11.1968 11.1408C10.9135 11.6173 10.5304 11.9969 10.0257 12.3017C9.88409 12.3874 9.76761 12.5089 9.68796 12.6539C9.60832 12.799 9.56832 12.9625 9.57201 13.1279C9.57996 13.464 9.76078 13.7599 10.0558 13.9195C10.5514 14.1877 10.9297 14.5727 11.2118 15.0966ZM11.9949 12.0553C12.2951 12.4755 12.6786 12.8431 13.1404 13.1531C12.7144 13.4605 12.3488 13.8165 12.048 14.2165C11.7517 13.764 11.3836 13.3883 10.948 13.0941C11.3591 12.8006 11.7096 12.4529 11.9949 12.0553ZM31.2057 31.2186C31.8319 31.5573 32.3092 32.043 32.6648 32.7034C32.836 33.0215 33.1535 33.2192 33.5139 33.2323C33.5266 33.2328 33.5393 33.233 33.5519 33.233C33.9002 33.233 34.2175 33.0589 34.4063 32.7619C34.7913 32.1564 35.3011 31.6599 35.9646 31.2438C36.2699 31.0526 36.4478 30.7235 36.4405 30.3638C36.4334 30.0083 36.2451 29.6909 35.9368 29.5146C35.2394 29.1156 34.729 28.6269 34.3767 28.0209C34.1963 27.7105 33.8732 27.5241 33.5126 27.5222H33.5074C33.1489 27.5222 32.8264 27.7051 32.6438 28.0121C32.2929 28.6024 31.7984 29.0927 31.1743 29.4695C31.0211 29.5622 30.8951 29.6937 30.8089 29.8506C30.7226 30.0076 30.6793 30.1845 30.6833 30.3635C30.6919 30.7266 30.8872 31.0462 31.2057 31.2186ZM33.5066 28.8364C33.9085 29.4463 34.4524 29.9685 35.1285 30.3933C34.5001 30.8208 33.9752 31.3325 33.5634 31.919C33.1628 31.2562 32.6393 30.7229 32.0026 30.329C32.6119 29.9232 33.1163 29.4226 33.5066 28.8364ZM29.3156 7.65117C29.9418 7.98996 30.419 8.47566 30.7747 9.13616C30.946 9.45421 31.2634 9.65188 31.6238 9.6649C31.6365 9.66537 31.6491 9.6656 31.6618 9.6656C32.01 9.6656 32.3273 9.49141 32.5162 9.19449C32.9012 8.58903 33.411 8.0925 34.0745 7.67644C34.3797 7.48517 34.5577 7.15613 34.5504 6.79644C34.5432 6.44088 34.3549 6.12345 34.0467 5.94716C33.3492 5.54817 32.8388 5.05952 32.4866 4.45351C32.3062 4.1431 31.9831 3.95667 31.6225 3.9548C31.4474 3.95292 31.2749 3.99721 31.1223 4.08322C30.9698 4.16922 30.8426 4.2939 30.7536 4.4447C30.4027 5.03496 29.9082 5.52533 29.2841 5.90209C29.1309 5.99481 29.0049 6.12629 28.9186 6.28326C28.8324 6.44023 28.7891 6.61716 28.7931 6.7962C28.8018 7.1594 28.9971 7.47893 29.3156 7.65117ZM31.6164 5.26903C32.0182 5.87893 32.5622 6.40112 33.2383 6.82591C32.6099 7.25336 32.0849 7.76517 31.6731 8.3516C31.2726 7.68883 30.7491 7.15566 30.1124 6.76166C30.7217 6.35581 31.2261 5.85523 31.6164 5.26903Z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="content">
                                            <div class="number">
                                                <h5 class="counter">150</h5>
                                                <span>Project</span>
                                            </div>
                                            <p>We Have Completed</p>
                                        </div>
                                    </li>
                                    <li class="single-countdown">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewbox="0 0 40 40">
                                                <g>
                                                    <path
                                                        d="M37.7214 28.0303C37.3524 27.8324 36.9461 27.714 36.5286 27.6827C36.111 27.6513 35.6916 27.7078 35.2972 27.8485L27.2426 30.7394C27.4012 30.2556 27.4332 29.7392 27.3356 29.2395C27.238 28.7398 27.014 28.2734 26.6851 27.8848C26.407 27.5568 26.0606 27.2935 25.6701 27.1134C25.2796 26.9334 24.8545 26.8409 24.4245 26.8424H20.0123C18.9881 26.8424 17.9942 26.4848 17.1517 25.8121C15.2305 24.2788 11.3275 22.2545 6.21233 25.1273V24.1091C6.21233 23.7715 6.07824 23.4478 5.83956 23.2091C5.60088 22.9705 5.27715 22.8364 4.9396 22.8364H1.95779C1.62024 22.8364 1.29651 22.9705 1.05783 23.2091C0.819149 23.4478 0.685059 23.7715 0.685059 24.1091V36.8606C0.685059 37.5636 1.25476 38.1333 1.95779 38.1333H4.9396C5.27715 38.1333 5.60088 37.9992 5.83956 37.7606C6.07824 37.5219 6.21233 37.1982 6.21233 36.8606V36.2424C7.18203 36.2303 9.6487 36.3697 13.182 37.7576C15.4487 38.6424 17.8063 39.0909 20.1578 39.0909C21.4608 39.0909 22.7638 38.9515 24.0426 38.6727C27.5699 37.903 32.8366 36.3394 37.8972 33.2424C38.2333 33.033 38.5246 32.7592 38.7545 32.4368C38.9843 32.1143 39.1482 31.7496 39.2366 31.3636C39.5457 30.0485 38.9275 28.6788 37.7214 28.0303ZM5.15173 36.8545C5.15173 36.9697 5.05476 37.0667 4.9396 37.0667H1.95779C1.84263 37.0667 1.74566 36.9697 1.74566 36.8545V24.103C1.74566 23.9879 1.84263 23.8909 1.95779 23.8909H4.9396C5.05476 23.8909 5.15173 23.9879 5.15173 24.103V36.8545ZM38.2063 31.1212C38.0851 31.6303 37.776 32.0727 37.3457 32.3333C32.4063 35.3576 27.2608 36.8848 23.8184 37.6364C20.4426 38.3697 16.8972 38.0727 13.5699 36.7697C10.0245 35.3818 7.5093 35.1818 6.3396 35.1818H6.20627V26.3394C11.0487 23.3333 14.7154 25.2242 16.4851 26.6364C17.5032 27.4545 18.7578 27.903 20.0063 27.903H24.4184C24.976 27.903 25.5093 28.1455 25.8729 28.5758C26.2426 29.0061 26.3941 29.5636 26.2972 30.1333C26.2123 30.6667 25.8729 31.1212 25.4063 31.4061C25.376 31.4182 25.3396 31.4364 25.3154 31.4606C25.0123 31.6242 24.6608 31.7152 24.2911 31.7152H18.0911C17.8002 31.7152 17.5578 31.9515 17.5578 32.2485C17.5578 32.5455 17.7942 32.7818 18.0911 32.7818H24.2972C24.8608 32.7818 25.3941 32.6364 25.8548 32.3818L35.6608 28.8667C36.1699 28.6849 36.7457 28.7212 37.2426 28.9939C38.0063 29.3879 38.4063 30.2727 38.2063 31.1212Z">
                                                    </path>
                                                    <path
                                                        d="M12.958 14.9758C13.364 15.3576 13.7822 15.7576 13.8913 16.103C14.0125 16.4788 13.9034 17.0606 13.8004 17.6303C13.6428 18.5091 13.4731 19.4182 13.9822 20.1091C14.4913 20.8061 15.4125 20.9334 16.3034 21.0546C16.8671 21.1334 17.4549 21.2121 17.764 21.4364C18.0671 21.6546 18.3216 22.1879 18.564 22.697C18.9337 23.4788 19.358 24.3576 20.1883 24.6303C20.358 24.6849 20.5277 24.7091 20.6913 24.7091C21.3216 24.7091 21.958 24.3697 22.5701 24.0364C23.0852 23.7576 23.6186 23.4727 24.0246 23.4727C24.4307 23.4727 24.964 23.7576 25.4792 24.0364C26.261 24.4546 27.061 24.8909 27.8671 24.6303C28.7034 24.3576 29.1216 23.4788 29.4913 22.697C29.7337 22.1879 29.9883 21.6606 30.2913 21.4364C30.6004 21.2121 31.1883 21.1334 31.7519 21.0546C32.6428 20.9334 33.564 20.8121 34.0731 20.1152C34.5761 19.4243 34.4125 18.5152 34.2549 17.6364C34.1519 17.0667 34.0489 16.4849 34.164 16.1091C34.2731 15.7637 34.6974 15.3697 35.0974 14.9818C35.7277 14.3818 36.4428 13.703 36.4428 12.8121C36.4428 11.9212 35.7277 11.2424 35.0974 10.6424C34.6913 10.2606 34.2731 9.86063 34.164 9.51517C34.0428 9.13941 34.1519 8.5576 34.2549 7.9879C34.4125 7.10911 34.5822 6.20002 34.0731 5.50911C33.564 4.81214 32.6428 4.68487 31.7519 4.56366C31.1883 4.48487 30.6004 4.40608 30.2913 4.18184C29.9883 3.96366 29.7337 3.43032 29.4913 2.92123C29.1216 2.13941 28.6974 1.26063 27.8671 0.987898C27.0671 0.727292 26.261 1.16366 25.4792 1.58184C24.964 1.86063 24.4307 2.14547 24.0246 2.14547C23.6186 2.14547 23.0852 1.86063 22.5701 1.58184C21.7883 1.16366 20.9822 0.727292 20.1822 0.987898C19.3458 1.26063 18.9277 2.13941 18.558 2.92123C18.3155 3.43032 18.061 3.9576 17.758 4.18184C17.4489 4.40608 16.861 4.48487 16.2974 4.56366C15.4064 4.68487 14.4852 4.80608 13.9761 5.50911C13.4731 6.20002 13.6367 7.10911 13.7943 7.9879C13.8974 8.5576 14.0004 9.13941 13.8852 9.51517C13.7701 9.86063 13.3519 10.2546 12.9519 10.6424C12.3216 11.2424 11.6064 11.9212 11.6064 12.8121C11.6064 13.697 12.3277 14.3758 12.958 14.9758ZM13.6852 11.4061C14.1883 10.9334 14.7034 10.4424 14.8974 9.83638C15.1034 9.21214 14.9701 8.49093 14.8428 7.79396C14.7216 7.13335 14.6004 6.4485 14.8367 6.12729C15.0792 5.79396 15.7701 5.70305 16.4428 5.61214C17.1398 5.52123 17.861 5.42426 18.3883 5.03638C18.9095 4.66063 19.2186 4.00608 19.5216 3.37578C19.8125 2.76366 20.1216 2.12729 20.5216 1.99396C20.5761 1.97578 20.6368 1.96972 20.6974 1.96972C21.0671 1.96972 21.5822 2.2485 22.0792 2.51517C22.7095 2.85456 23.364 3.20608 24.0367 3.20608C24.7095 3.20608 25.364 2.85456 25.9943 2.51517C26.5761 2.20002 27.1761 1.87881 27.5519 2.00002C27.9519 2.12729 28.2549 2.76366 28.5519 3.38184C28.8549 4.01214 29.164 4.66063 29.6852 5.04244C30.2125 5.42426 30.9337 5.52123 31.6307 5.6182C32.3034 5.70911 32.9943 5.80002 33.2367 6.13335C33.4731 6.46063 33.3519 7.13941 33.2307 7.80002C33.1034 8.49699 32.9761 9.2182 33.1761 9.84244C33.3701 10.4424 33.8913 10.9334 34.3883 11.4121C34.8852 11.8849 35.4064 12.3758 35.4064 12.8121C35.4064 13.2485 34.8913 13.7394 34.3883 14.2121C33.8852 14.6849 33.3701 15.1758 33.1761 15.7818C32.9701 16.4061 33.1034 17.1273 33.2307 17.8243C33.3519 18.4849 33.4731 19.1637 33.2367 19.4909C32.9943 19.8243 32.3034 19.9152 31.6307 20.0061C30.9337 20.097 30.2125 20.194 29.6852 20.5818C29.164 20.9576 28.8549 21.6121 28.5519 22.2424C28.261 22.8606 27.9519 23.4909 27.5519 23.6243C27.1822 23.7455 26.5761 23.4182 25.9943 23.1091C25.364 22.7697 24.7095 22.4182 24.0367 22.4182C23.364 22.4182 22.7095 22.7697 22.0792 23.1091C21.4974 23.4243 20.8974 23.7455 20.5216 23.6243C20.1216 23.497 19.8186 22.8606 19.5216 22.2424C19.2186 21.6121 18.9095 20.9637 18.3883 20.5818C17.861 20.2 17.1398 20.103 16.4428 20.0061C15.7701 19.9152 15.0792 19.8243 14.8367 19.4909C14.6004 19.1637 14.7216 18.4849 14.8428 17.8243C14.9701 17.1273 15.0974 16.4061 14.8974 15.7818C14.7034 15.1818 14.1822 14.6909 13.6852 14.2121C13.1883 13.7394 12.6671 13.2485 12.6671 12.8121C12.6671 12.3697 13.1883 11.8788 13.6852 11.4061Z">
                                                    </path>
                                                    <path
                                                        d="M24.0303 20.2182C28.1151 20.2182 31.4424 16.891 31.4424 12.8061C31.4424 8.72125 28.1212 5.39398 24.0303 5.39398C19.9394 5.39398 16.6182 8.72125 16.6182 12.8061C16.6182 16.891 19.9454 20.2182 24.0303 20.2182ZM24.0303 6.45459C27.5333 6.45459 30.3818 9.30307 30.3818 12.8061C30.3818 16.3091 27.5333 19.1576 24.0303 19.1576C20.5273 19.1576 17.6788 16.3091 17.6788 12.8061C17.6788 9.30307 20.5273 6.45459 24.0303 6.45459Z">
                                                    </path>
                                                    <path
                                                        d="M21.5517 16.1031C21.879 16.4304 22.3214 16.6122 22.782 16.6122C23.2426 16.6122 23.685 16.4304 24.0123 16.1031L28.1396 11.9758C28.4669 11.6485 28.6487 11.2061 28.6487 10.7455C28.6487 10.2849 28.4669 9.84247 28.1396 9.5152C27.8119 9.18914 27.3685 9.0061 26.9063 9.0061C26.444 9.0061 26.0006 9.18914 25.6729 9.5152L22.782 12.4061L22.382 12.0061C22.0544 11.6801 21.6109 11.497 21.1487 11.497C20.6864 11.497 20.243 11.6801 19.9153 12.0061C19.5893 12.3338 19.4062 12.7772 19.4062 13.2394C19.4062 13.7017 19.5893 14.1451 19.9153 14.4728L21.5517 16.1031ZM20.6729 12.7576C20.8063 12.6243 20.982 12.5576 21.1578 12.5576C21.3335 12.5576 21.5093 12.6243 21.6426 12.7576L22.4184 13.5273C22.6244 13.7334 22.9638 13.7334 23.1699 13.5273L26.4366 10.2607C26.7032 9.99399 27.1335 9.99399 27.4002 10.2607C27.5275 10.3879 27.6002 10.5576 27.6002 10.7394C27.6002 10.9213 27.5275 11.091 27.4002 11.2243L23.2729 15.3516C23.0184 15.6061 22.5638 15.6061 22.3093 15.3516L20.679 13.7213C20.4063 13.4546 20.4063 13.0243 20.6729 12.7576Z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="content">
                                            <div class="number">
                                                <h5 class="counter">98</h5>
                                                <span>%</span>
                                            </div>
                                            <p>Customer Satisfaction</p>
                                        </div>
                                    </li>
                                    <li class="single-countdown">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewbox="0 0 40 40">
                                                <path
                                                    d="M34.5607 4.46125H30.7556V2.62649C30.7556 2.30227 30.493 2.03961 30.1688 2.03961C29.8445 2.03961 29.5819 2.30227 29.5819 2.62649V4.46117H20.5867V2.62649C20.5867 2.30227 20.3241 2.03961 19.9999 2.03961C19.6756 2.03961 19.413 2.30227 19.413 2.62649V4.46117H10.4178V2.62649C10.4178 2.30227 10.1552 2.03961 9.83096 2.03961C9.50674 2.03961 9.24408 2.30227 9.24408 2.62649V4.46117H5.439C2.78916 4.46117 0.633301 6.63555 0.633301 9.30821V33.1134C0.633301 35.7859 2.78916 37.9604 5.439 37.9604H34.5607C37.2108 37.9604 39.3664 35.786 39.3664 33.1134V9.30821C39.3664 6.63563 37.2108 4.46125 34.5607 4.46125ZM34.5607 36.7866H5.439C3.43635 36.7866 1.80697 35.1388 1.80697 33.1134V15.2034H38.1927V33.1134C38.1927 35.1388 36.5635 36.7866 34.5607 36.7866ZM38.1927 14.0297H1.80705V9.30821C1.80705 7.28281 3.43643 5.63492 5.43908 5.63492H9.24416V8.31821H7.82799C7.50377 8.31821 7.24111 8.58086 7.24111 8.90508C7.24111 9.2293 7.50377 9.49196 7.82799 9.49196H11.834C12.1582 9.49196 12.4209 9.2293 12.4209 8.90508C12.4209 8.58086 12.1582 8.31821 11.834 8.31821H10.4178V5.635H19.413V8.31828H17.9968C17.6726 8.31828 17.4099 8.58094 17.4099 8.90516C17.4099 9.22938 17.6726 9.49203 17.9968 9.49203H22.0028C22.3271 9.49203 22.5897 9.22938 22.5897 8.90516C22.5897 8.58094 22.3271 8.31828 22.0028 8.31828H20.5867V5.635H29.5819V8.31828H28.1657C27.8415 8.31828 27.5788 8.58094 27.5788 8.90516C27.5788 9.22938 27.8415 9.49203 28.1657 9.49203H32.1717C32.496 9.49203 32.7586 9.22938 32.7586 8.90516C32.7586 8.58094 32.496 8.31828 32.1717 8.31828H30.7556V5.635H34.5606C36.5635 5.635 38.1927 7.28289 38.1927 9.30828V14.0297Z">
                                                </path>
                                                <path
                                                    d="M19.9978 18.1531C15.7511 18.1531 12.2959 21.6416 12.2959 25.9296C12.2959 30.215 15.751 33.7014 19.9978 33.7014C24.2472 33.7014 27.7042 30.215 27.7042 25.9296C27.7042 21.6416 24.2471 18.1531 19.9978 18.1531ZM19.9978 32.5277C16.3981 32.5277 13.4696 29.5678 13.4696 25.9296C13.4696 22.2889 16.3981 19.3268 19.9978 19.3268C23.6 19.3268 26.5305 22.2889 26.5305 25.9296C26.5304 29.5678 23.6 32.5277 19.9978 32.5277Z">
                                                </path>
                                                <path
                                                    d="M22.6369 25.3777H20.4052V22.0968C20.4052 21.7726 20.1425 21.5099 19.8183 21.5099C19.4941 21.5099 19.2314 21.7726 19.2314 22.0968V25.9646C19.2314 26.0416 19.2466 26.1179 19.2761 26.1891C19.3056 26.2603 19.3488 26.325 19.4033 26.3795C19.4578 26.434 19.5225 26.4772 19.5937 26.5066C19.6649 26.5361 19.7413 26.5512 19.8183 26.5512H22.6369C22.7145 26.5521 22.7916 26.5376 22.8635 26.5085C22.9355 26.4794 23.001 26.4363 23.0562 26.3818C23.1114 26.3272 23.1552 26.2622 23.1852 26.1906C23.2151 26.1189 23.2305 26.0421 23.2305 25.9644C23.2305 25.8868 23.2151 25.81 23.1852 25.7383C23.1552 25.6667 23.1114 25.6017 23.0562 25.5471C23.001 25.4926 22.9355 25.4495 22.8635 25.4204C22.7916 25.3913 22.7145 25.3768 22.6369 25.3777Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="content">
                                            <div class="number">
                                                <h5 class="counter">30</h5>
                                                <span>Mins</span>
                                            </div>
                                            <p>Average Answer Time</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-bottom-area">
                    <div class="container-fluid">
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-6 wow animate fadeInUp" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <div class="feature-card">
                                    <div class="icon">
                                        <img src="assets/img/home1/icon/about-feature-card-icon1.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h4>Comprehensive Services</h4>
                                        <p>Offering all IT services under one roof, we streamline your digital needs
                                            with ease and efficiency.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow animate fadeInUp" data-wow-delay="400ms"
                                data-wow-duration="1500ms">
                                <div class="feature-card">
                                    <div class="icon">
                                        <img src="assets/img/home1/icon/about-feature-card-icon2.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h4>Innovative Solutions</h4>
                                        <p>We thrive on innovation, constantly exploring new technologies to bring
                                            unique solutions to life.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow animate fadeInUp" data-wow-delay="600ms"
                                data-wow-duration="1500ms">
                                <div class="feature-card">
                                    <div class="icon">
                                        <img src="assets/img/home1/icon/about-feature-card-icon3.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h4>Client-Centric Approach</h4>
                                        <p>We prioritize your vision, collaborating closely to ensure our solutions
                                            align with your goals.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow animate fadeInUp" data-wow-delay="800ms"
                                data-wow-duration="1500ms">
                                <div class="feature-card">
                                    <div class="icon">
                                        <img src="assets/img/home1/icon/about-feature-card-icon4.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h4>Cost-Effective Solutions</h4>
                                        <p>Our commitment to affordability ensures that you receive the best value for
                                            your investment.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- About Section Ends -->

            <div id="service" class="home1-solution-section mb-110">
                <div class="container">
                    <div class="row mb-60">
                        <div class="col-lg-12 d-flex align-items-center justify-content-between flex-wrap gap-3">
                            <div class="section-title wow animate fadeInLeft" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                        <g>
                                            <path
                                                d="M6.6304 0.338424C6.67018 -0.112811 7.32982 -0.112807 7.3696 0.338428L7.72654 4.38625C7.75291 4.68505 8.10454 4.83069 8.33443 4.63804L11.4491 2.02821C11.7963 1.73728 12.2627 2.20368 11.9718 2.55089L9.36197 5.66556C9.1693 5.89546 9.31496 6.24709 9.61374 6.27346L13.6615 6.6304C14.1128 6.67018 14.1128 7.32982 13.6615 7.3696L9.61374 7.72654C9.31496 7.75291 9.1693 8.10454 9.36197 8.33443L11.9718 11.4491C12.2627 11.7963 11.7963 12.2627 11.4491 11.9718L8.33443 9.36197C8.10454 9.1693 7.75291 9.31496 7.72654 9.61374L7.3696 13.6615C7.32982 14.1128 6.67018 14.1128 6.6304 13.6615L6.27346 9.61374C6.24709 9.31496 5.89546 9.1693 5.66556 9.36197L2.55089 11.9718C2.20368 12.2627 1.73729 11.7963 2.02822 11.4491L4.63804 8.33443C4.83069 8.10454 4.68504 7.75291 4.38625 7.72654L0.338424 7.3696C-0.112811 7.32982 -0.112807 6.67018 0.338428 6.6304L4.38625 6.27346C4.68505 6.24709 4.83069 5.89546 4.63804 5.66556L2.02821 2.55089C1.73728 2.20368 2.20368 1.73729 2.55089 2.02822L5.66556 4.63804C5.89546 4.83069 6.24709 4.68504 6.27346 4.38625L6.6304 0.338424Z">
                                            </path>
                                        </g>
                                    </svg>
                                    Expertise You Can Trust
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                        <g>
                                            <path
                                                d="M6.6304 0.338424C6.67018 -0.112811 7.32982 -0.112807 7.3696 0.338428L7.72654 4.38625C7.75291 4.68505 8.10454 4.83069 8.33443 4.63804L11.4491 2.02821C11.7963 1.73728 12.2627 2.20368 11.9718 2.55089L9.36197 5.66556C9.1693 5.89546 9.31496 6.24709 9.61374 6.27346L13.6615 6.6304C14.1128 6.67018 14.1128 7.32982 13.6615 7.3696L9.61374 7.72654C9.31496 7.75291 9.1693 8.10454 9.36197 8.33443L11.9718 11.4491C12.2627 11.7963 11.7963 12.2627 11.4491 11.9718L8.33443 9.36197C8.10454 9.1693 7.75291 9.31496 7.72654 9.61374L7.3696 13.6615C7.32982 14.1128 6.67018 14.1128 6.6304 13.6615L6.27346 9.61374C6.24709 9.31496 5.89546 9.1693 5.66556 9.36197L2.55089 11.9718C2.20368 12.2627 1.73729 11.7963 2.02822 11.4491L4.63804 8.33443C4.83069 8.10454 4.68504 7.75291 4.38625 7.72654L0.338424 7.3696C-0.112811 7.32982 -0.112807 6.67018 0.338428 6.6304L4.38625 6.27346C4.68505 6.24709 4.83069 5.89546 4.63804 5.66556L2.02821 2.55089C1.73728 2.20368 2.20368 1.73729 2.55089 2.02822L5.66556 4.63804C5.89546 4.83069 6.24709 4.68504 6.27346 4.38625L6.6304 0.338424Z">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                                <h2>Explore Our Solutions</h2>
                            </div>
                            <a href="/services" class="primary-btn2 wow animate fadeInRight" data-wow-delay="400ms"
                                data-wow-duration="1500ms" data-text="Explore More">
                                <span>Explore More</span>
                            </a>
                        </div>
                    </div>
                    <%- include('partials/services') -%>
                </div>
            </div>

            <!-- Reviews Section Starts -->
            <div class="home2-testimonial-section mb-110">
                <div class="row g-0">
                    <div class="col-lg-5">
                        <div class="testimonial-content">
                            <div class="section-title2 wow animate fadeInLeft" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewbox="0 0 11 11">
                                        <path
                                            d="M11 5.5L9.48449 4.43056L10.2666 2.75L8.41505 2.58495L8.25 0.733376L6.56944 1.51551L5.5 0L4.43056 1.51551L2.75 0.733376L2.58495 2.58495L0.733376 2.75L1.51551 4.43056L0 5.5L1.51551 6.56944L0.733376 8.25L2.58495 8.41505L2.75 10.2666L4.43056 9.48449L5.5 11L6.56944 9.48449L8.25 10.2666L8.41505 8.41505L10.2666 8.25L9.48449 6.56944L11 5.5Z">
                                        </path>
                                    </svg>
                                    Glowing Reviews
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewbox="0 0 11 11">
                                        <path
                                            d="M11 5.5L9.48449 4.43056L10.2666 2.75L8.41505 2.58495L8.25 0.733376L6.56944 1.51551L5.5 0L4.43056 1.51551L2.75 0.733376L2.58495 2.58495L0.733376 2.75L1.51551 4.43056L0 5.5L1.51551 6.56944L0.733376 8.25L2.58495 8.41505L2.75 10.2666L4.43056 9.48449L5.5 11L6.56944 9.48449L8.25 10.2666L8.41505 8.41505L10.2666 8.25L9.48449 6.56944L11 5.5Z">
                                        </path>
                                    </svg>
                                </span>
                                <h2>They Say About Us</h2>
                                <p>Our clients have shared their experiences and feedback, highlighting our commitment
                                    to
                                    excellence and exceptional service. Hear what they have to say about their journey
                                    with us.</p>
                            </div>
                            <div class="bottom-area wow animate fadeInLeft" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36">
                                        <path
                                            d="M33.4778 2.58887H2.52211C1.44162 2.58887 0.5625 3.46798 0.5625 4.54848V27.3271C0.5625 28.4077 1.44162 29.2868 2.52211 29.2868H12.3782V32.8485C12.3782 32.9977 12.4374 33.1407 12.5429 33.2462C12.6484 33.3517 12.7915 33.411 12.9407 33.411H15.4517C15.6009 33.411 15.744 33.3517 15.8495 33.2462C15.955 33.1407 16.0142 32.9977 16.0142 32.8485V29.2868H17.7266V32.8485C17.7266 32.9977 17.7859 33.1407 17.8914 33.2462C17.9969 33.3517 18.1399 33.411 18.2891 33.411H20.8003C20.9494 33.411 21.0925 33.3517 21.198 33.2462C21.3035 33.1407 21.3628 32.9977 21.3628 32.8485V29.2868H23.0751V32.8485C23.0751 32.9977 23.1343 33.1407 23.2398 33.2462C23.3453 33.3517 23.4884 33.411 23.6376 33.411H26.1488C26.298 33.411 26.4411 33.3517 26.5465 33.2462C26.652 33.1407 26.7113 32.9977 26.7113 32.8485V29.2868H28.4237V32.8485C28.4237 32.9977 28.483 33.1407 28.5884 33.2462C28.6939 33.3517 28.837 33.411 28.9862 33.411H31.4973C31.6464 33.411 31.7895 33.3517 31.895 33.2462C32.0005 33.1407 32.0598 32.9977 32.0598 32.8485V29.2868H33.478C34.5585 29.2868 35.4376 28.4077 35.4376 27.3271V4.54848C35.4375 3.46798 34.5584 2.58887 33.4778 2.58887ZM2.52211 3.71387H33.4778C33.9381 3.71387 34.3125 4.08828 34.3125 4.54848V7.90245H1.6875V4.54848C1.6875 4.08835 2.06191 3.71387 2.52211 3.71387ZM14.8892 32.2861H13.5032V28.5936H14.8892V32.2861ZM20.2377 32.2861H18.8516V24.357H20.2377V32.2861ZM25.5862 32.2861H24.2V26.0696H25.5862V32.2861ZM30.9346 32.2861H29.5485V21.063H30.9346V32.2861ZM33.4778 28.1618H32.0596V20.5005C32.0596 20.3513 32.0004 20.2082 31.8949 20.1027C31.7894 19.9972 31.6463 19.938 31.4971 19.938H28.986C28.8369 19.938 28.6938 19.9972 28.5883 20.1027C28.4828 20.2082 28.4235 20.3513 28.4235 20.5005V28.1618H26.7112V25.507C26.7112 25.3578 26.6519 25.2148 26.5464 25.1093C26.4409 25.0038 26.2978 24.9445 26.1487 24.9445H23.6374C23.4883 24.9445 23.3452 25.0038 23.2397 25.1093C23.1342 25.2148 23.0749 25.3578 23.0749 25.507V28.1618H21.3626V23.7945C21.3626 23.6453 21.3034 23.5022 21.1979 23.3967C21.0924 23.2912 20.9493 23.232 20.8001 23.232H18.289C18.1398 23.232 17.9967 23.2912 17.8912 23.3967C17.7857 23.5022 17.7265 23.6453 17.7265 23.7945V28.1618H16.0141V28.0311C16.0141 27.8819 15.9548 27.7388 15.8493 27.6333C15.7439 27.5279 15.6008 27.4686 15.4516 27.4686H12.9405C12.7913 27.4686 12.6483 27.5279 12.5428 27.6333C12.4373 27.7388 12.378 27.8819 12.378 28.0311V28.1618H2.52211C2.06191 28.1618 1.6875 27.7874 1.6875 27.3271V9.02752H34.3125V27.3272C34.3125 27.7874 33.9381 28.1618 33.4778 28.1618ZM4.78941 5.8082C4.78941 5.35721 5.15496 4.99166 5.60595 4.99166C6.05693 4.99166 6.42248 5.35721 6.42248 5.8082C6.42248 6.25918 6.05693 6.62473 5.60595 6.62473C5.15496 6.62473 4.78941 6.25918 4.78941 5.8082ZM11.0582 5.8082C11.0582 5.35721 11.4237 4.99166 11.8747 4.99166C12.3257 4.99166 12.6913 5.35721 12.6913 5.8082C12.6913 6.25918 12.3257 6.62473 11.8747 6.62473C11.4237 6.62473 11.0582 6.25918 11.0582 5.8082ZM7.9238 5.8082C7.9238 5.35721 8.28935 4.99166 8.74034 4.99166C9.19132 4.99166 9.55688 5.35721 9.55688 5.8082C9.55688 6.25918 9.19132 6.62473 8.74034 6.62473C8.28935 6.62473 7.9238 6.25918 7.9238 5.8082ZM30.1783 16.6381C30.2313 16.7023 30.2694 16.7775 30.2898 16.8583C30.3102 16.939 30.3123 17.0233 30.2962 17.105L29.9087 19.0653C29.8834 19.193 29.8147 19.308 29.7142 19.3907C29.6137 19.4734 29.4877 19.5187 29.3575 19.5189C29.3207 19.5189 29.2839 19.5152 29.2478 19.5081C29.1754 19.4938 29.1064 19.4653 29.0449 19.4244C28.9835 19.3834 28.9307 19.3308 28.8896 19.2694C28.8484 19.208 28.8198 19.1392 28.8053 19.0668C28.7908 18.9943 28.7907 18.9198 28.8051 18.8473L28.862 18.5593L25.2717 21.8256C25.1918 21.8983 25.0927 21.9464 24.9862 21.9643C24.8796 21.9821 24.7702 21.969 24.671 21.9263L19.6237 19.7559L14.5363 23.6187C14.4387 23.6931 14.3193 23.7334 14.1966 23.7332C14.0788 23.7333 13.9639 23.6964 13.8682 23.6277C13.7725 23.559 13.7008 23.462 13.6632 23.3504C13.6255 23.2388 13.6239 23.1182 13.6585 23.0055C13.6931 22.8929 13.7622 22.794 13.856 22.7228L19.2044 18.6617C19.2836 18.6015 19.3775 18.5634 19.4763 18.5513C19.5751 18.5392 19.6753 18.5535 19.7667 18.5928L24.7826 20.7497L28.2843 17.564L27.7482 17.5659H27.7461C27.5969 17.5662 27.4537 17.5072 27.348 17.4019C27.2424 17.2966 27.1829 17.1536 27.1826 17.0044C27.1823 16.8552 27.2414 16.712 27.3467 16.6064C27.452 16.5007 27.5949 16.4412 27.7441 16.4409L29.7423 16.4336H29.7444C29.8273 16.4335 29.9092 16.4518 29.9843 16.4872C30.0593 16.5225 30.1256 16.5741 30.1783 16.6381ZM14.8839 19.7885C14.9367 19.7298 14.9765 19.6607 15.0007 19.5856C15.025 19.5105 15.0332 19.4311 15.0248 19.3526C14.9781 18.9128 14.8589 18.4836 14.6721 18.0826H18.6078C18.6867 18.0826 18.7647 18.066 18.8368 18.0339C18.9089 18.0018 18.9734 17.9548 19.0261 17.8961C19.0789 17.8374 19.1187 17.7683 19.143 17.6932C19.1672 17.6181 19.1754 17.5388 19.167 17.4603C19.0132 16.0221 18.1156 14.8342 16.88 14.2579C17.2562 13.8475 17.4862 13.3011 17.4862 12.7018C17.4862 11.4308 16.4521 10.3967 15.1811 10.3967C13.91 10.3967 12.8759 11.4308 12.8759 12.7018C12.8759 12.9182 12.9066 13.1274 12.9625 13.3261C12.5496 12.7018 11.8417 12.289 11.0388 12.289C10.2359 12.289 9.52791 12.7019 9.11503 13.3263C9.17246 13.1231 9.20161 12.913 9.20166 12.7018C9.20166 11.4308 8.16757 10.3967 6.89653 10.3967C5.62549 10.3967 4.59141 11.4308 4.59141 12.7018C4.59141 13.3011 4.8214 13.8475 5.19764 14.2579C3.96197 14.8342 3.06443 16.0222 2.91052 17.4604C2.90208 17.5389 2.91025 17.6182 2.93452 17.6933C2.95878 17.7684 2.99858 17.8376 3.05134 17.8963C3.10409 17.955 3.16862 18.0019 3.24071 18.0341C3.31281 18.0662 3.39086 18.0828 3.46978 18.0827H7.40545C7.21865 18.4837 7.09947 18.9128 7.05277 19.3527C7.04433 19.4312 7.0525 19.5105 7.07677 19.5856C7.10103 19.6608 7.14083 19.7299 7.19359 19.7886C7.24634 19.8473 7.31087 19.8943 7.38296 19.9264C7.45506 19.9585 7.53311 19.9751 7.61203 19.975H14.4656C14.5445 19.975 14.6225 19.9584 14.6946 19.9262C14.7666 19.8941 14.8311 19.8472 14.8839 19.7885ZM17.9117 16.9576H13.8864C13.5823 16.651 13.2306 16.3956 12.8449 16.2014C13.3808 15.462 14.246 15.0069 15.181 15.0069C16.441 15.0069 17.523 15.8111 17.9117 16.9576ZM15.181 11.5216C15.8318 11.5216 16.3612 12.051 16.3612 12.7017C16.3612 13.3524 15.8318 13.8818 15.181 13.8818C14.5303 13.8818 14.0008 13.3524 14.0008 12.7017C14.0008 12.051 14.5303 11.5216 15.181 11.5216ZM13.484 14.26C13.4318 14.2844 13.3803 14.3102 13.3292 14.3369C13.3153 14.2128 13.2913 14.09 13.2574 13.9699C13.3251 14.0724 13.4009 14.1694 13.484 14.26ZM11.0387 13.4139C11.6895 13.4139 12.2189 13.9433 12.2189 14.594C12.2189 15.2444 11.69 15.7737 11.0396 15.7741H11.0378C10.3875 15.7737 9.85859 15.2444 9.85859 14.594C9.85859 13.9434 10.388 13.4139 11.0387 13.4139ZM8.74828 14.3369C8.6972 14.3102 8.64556 14.2845 8.59338 14.26C8.67659 14.1694 8.75246 14.0723 8.82028 13.9696C8.78629 14.0899 8.76221 14.2127 8.74828 14.3369ZM5.71634 12.7017C5.71634 12.051 6.24572 11.5216 6.89646 11.5216C7.5472 11.5216 8.07659 12.051 8.07659 12.7017C8.07659 13.3524 7.5472 13.8818 6.89646 13.8818C6.24572 13.8818 5.71634 13.3524 5.71634 12.7017ZM4.16573 16.9576C4.55442 15.8111 5.63639 15.0069 6.89646 15.0069C7.83141 15.0069 8.69667 15.462 9.23252 16.2014C8.84683 16.3957 8.49511 16.6511 8.19098 16.9577H4.16573V16.9576ZM8.30798 18.85C8.69653 17.7039 9.7778 16.8999 11.0372 16.8992H11.0401C12.2996 16.8999 13.3807 17.7039 13.7693 18.85H8.30798Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="text">
                                    <p>Average Traffic Increase for Clients</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="testimonial-wrap">
                            <div class="swiper home2-testimonial-slider wow animate fadeInDown" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-card2">
                                            <span>Great Digital Marketing!</span>
                                            <p>Feel free to customize the key features based on the services and
                                                strategies you
                                                offer in each plan. This breakdown helps potential clients understand
                                                the
                                                specific value they'll receive at each pricing tier.</p>
                                            <div class="author-area">
                                                <div class="author-img">
                                                    <img src="assets/img/home2/testi-author-01.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6>Mr. Daniel Scoot</h6>
                                                    <span>Froxio, CEO</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-card2">
                                            <span>Great Consulting!</span>
                                            <p>You can adjust the length and style of the line to match the overall
                                                design and
                                                formatting of your document. Some other divider options include dashes,
                                                stars,
                                                or even a graphical element.</p>
                                            <div class="author-area">
                                                <div class="author-img">
                                                    <img src="assets/img/home2/testi-author-02.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6>Dani Alves</h6>
                                                    <span>Nurio, CEO</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-card2">
                                            <span>Great Consulting!</span>
                                            <p>The information you might include in a Managing Director's profile or
                                                information
                                                list typically consists of the individual's background, experience, and
                                                responsibilities within a company.</p>
                                            <div class="author-area">
                                                <div class="author-img">
                                                    <img src="assets/img/home2/testi-author-03.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6>Mrs. Flurance Miyagi</h6>
                                                    <span>Froxio, CEO</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-card2">
                                            <span>Great Consulting!</span>
                                            <p>The specific services offered by business consultants can vary widely
                                                depending
                                                on the consultant's expertise and the needs of the client. Consultants
                                                typically
                                                work closely with their clients.</p>
                                            <div class="author-area">
                                                <div class="author-img">
                                                    <img src="assets/img/home2/testi-author-04.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h6>Mr. Thomas Robert</h6>
                                                    <span>Maxcrio, HR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-btn-area">
                                <span class="dash"></span>
                                <div class="slider-btn-group w-100">
                                    <div class="slider-btn prev-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11"
                                            viewbox="0 0 15 11">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0.416666 5.9668H15V4.7168H0.416666V5.9668Z"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.04115 4.7168C3.98115 4.7168 6.38281 7.3018 6.38281 10.0585V10.6835H5.13281V10.0585C5.13281 7.96596 3.26448 5.9668 1.04115 5.9668H0.416979V4.7168H1.04115Z">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.04115 5.96667C3.98115 5.96667 6.38281 3.38167 6.38281 0.625V0H5.13281V0.625C5.13281 2.71833 3.26448 4.71667 1.04115 4.71667H0.416979V5.96667H1.04115Z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="slider-btn next-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11"
                                            viewbox="0 0 15 11">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.5833 5.9668H0V4.7168H14.5833V5.9668Z"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M13.9589 4.7168C11.0189 4.7168 8.61719 7.3018 8.61719 10.0585V10.6835H9.86719V10.0585C9.86719 7.96596 11.7355 5.9668 13.9589 5.9668H14.583V4.7168H13.9589Z">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M13.9589 5.96667C11.0189 5.96667 8.61719 3.38167 8.61719 0.625V0H9.86719V0.625C9.86719 2.71833 11.7355 4.71667 13.9589 4.71667H14.583V5.96667H13.9589Z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <ul class="rating-area wow animate fadeInUp" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <li>
                                    <a href="https://clutch.co" class="single-rating">
                                        <div class="review">
                                            <span>Review On</span>
                                            <img class="logo-dark" src="assets/img/home1/icon/clutch-logo.svg" alt="">
                                            <img class="logo-light" src="assets/img/home1/icon/clutch-logo-white.svg"
                                                alt="">
                                        </div>
                                        <div class="rating">
                                            <ul class="star">
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-half"></i></li>
                                            </ul>
                                            <span>(50 reviews)</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" class="single-rating google">
                                        <div class="review">
                                            <span>Review On</span>
                                            <img src="assets/img/home1/icon/google-logo.svg" alt="">
                                        </div>
                                        <div class="rating">
                                            <ul class="star">
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-fill"></i></li>
                                                <li><i class="bi bi-star-half"></i></li>
                                            </ul>
                                            <span>(50 reviews)</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Reviews Section Ends -->

            <!-- Contact Section Starts -->

            <div id="contact" class="contact-section home2-contact-section mb-110">
                <div class="container">
                    <div class="row g-lg-4 gy-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="contact-content">
                                <div class="section-title2 wow animate fadeInDown" data-wow-delay="200ms"
                                    data-wow-duration="1500ms">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                                            viewbox="0 0 11 11">
                                            <path
                                                d="M11 5.5L9.48449 4.43056L10.2666 2.75L8.41505 2.58495L8.25 0.733376L6.56944 1.51551L5.5 0L4.43056 1.51551L2.75 0.733376L2.58495 2.58495L0.733376 2.75L1.51551 4.43056L0 5.5L1.51551 6.56944L0.733376 8.25L2.58495 8.41505L2.75 10.2666L4.43056 9.48449L5.5 11L6.56944 9.48449L8.25 10.2666L8.41505 8.41505L10.2666 8.25L9.48449 6.56944L11 5.5Z">
                                            </path>
                                        </svg>
                                        Drop Us a Line
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                                            viewbox="0 0 11 11">
                                            <path
                                                d="M11 5.5L9.48449 4.43056L10.2666 2.75L8.41505 2.58495L8.25 0.733376L6.56944 1.51551L5.5 0L4.43056 1.51551L2.75 0.733376L2.58495 2.58495L0.733376 2.75L1.51551 4.43056L0 5.5L1.51551 6.56944L0.733376 8.25L2.58495 8.41505L2.75 10.2666L4.43056 9.48449L5.5 11L6.56944 9.48449L8.25 10.2666L8.41505 8.41505L10.2666 8.25L9.48449 6.56944L11 5.5Z">
                                            </path>
                                        </svg>
                                    </span>
                                    <h2>Connect with Dynamics Solutions</h2>
                                    <p>Ready to take the first step towards unlocking opportunities, realizing goals,
                                        and embracing innovation? We're here and eager to connect.</p>
                                </div>
                                <div class="contact-area wow animate fadeInUp" data-wow-delay="300ms"
                                    data-wow-duration="1000ms">
                                    <div class="hotline-area mb-40">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                viewbox="0 0 28 28">
                                                <path
                                                    d="M27.2653 21.5995L21.598 17.8201C20.8788 17.3443 19.9147 17.5009 19.383 18.1798L17.7322 20.3024C17.6296 20.4377 17.4816 20.5314 17.3154 20.5664C17.1492 20.6014 16.9759 20.5752 16.8275 20.4928L16.5134 20.3196C15.4725 19.7522 14.1772 19.0458 11.5675 16.4352C8.95784 13.8246 8.25001 12.5284 7.6826 11.4893L7.51042 11.1753C7.42683 11.0269 7.39968 10.8532 7.43398 10.6864C7.46827 10.5195 7.56169 10.3707 7.69704 10.2673L9.81816 8.61693C10.4968 8.08517 10.6536 7.1214 10.1784 6.40198L6.39895 0.734676C5.91192 0.00208106 4.9348 -0.21784 4.18082 0.235398L1.81096 1.65898C1.06634 2.09672 0.520053 2.80571 0.286612 3.63733C-0.56677 6.74673 0.0752209 12.1131 7.98033 20.0191C14.2687 26.307 18.9501 27.9979 22.1677 27.9979C22.9083 28.0011 23.6459 27.9048 24.3608 27.7115C25.1925 27.4783 25.9016 26.932 26.3391 26.1871L27.7641 23.8187C28.218 23.0645 27.9982 22.0868 27.2653 21.5995ZM26.9601 23.3399L25.5384 25.7098C25.2242 26.2474 24.7142 26.6427 24.1152 26.8128C21.2447 27.6009 16.2298 26.9482 8.64053 19.3589C1.0513 11.7697 0.398595 6.75515 1.18669 3.88421C1.35709 3.28446 1.75283 2.77385 2.2911 2.45921L4.66096 1.03749C4.98811 0.840645 5.41221 0.93606 5.62354 1.25397L7.67659 4.3363L9.39976 6.92078C9.60612 7.23283 9.53831 7.65108 9.24392 7.88199L7.1223 9.53232C6.47665 10.026 6.29227 10.9193 6.68979 11.6283L6.85826 11.9344C7.45459 13.0281 8.19599 14.3887 10.9027 17.095C13.6095 19.8012 14.9696 20.5427 16.0628 21.139L16.3694 21.3079C17.0783 21.7053 17.9716 21.521 18.4653 20.8753L20.1157 18.7537C20.3466 18.4595 20.7647 18.3918 21.0769 18.5979L26.7437 22.3773C27.0618 22.5885 27.1572 23.0128 26.9601 23.3399ZM15.8658 4.66809C20.2446 4.67296 23.7931 8.22149 23.798 12.6003C23.798 12.858 24.0069 13.0669 24.2646 13.0669C24.5223 13.0669 24.7312 12.858 24.7312 12.6003C24.7257 7.7063 20.7598 3.74029 15.8658 3.73494C15.6081 3.73494 15.3992 3.94381 15.3992 4.20151C15.3992 4.45922 15.6081 4.66809 15.8658 4.66809Z">
                                                </path>
                                                <path
                                                    d="M15.8658 7.46734C18.699 7.47067 20.995 9.76666 20.9983 12.5999C20.9983 12.7237 21.0475 12.8424 21.135 12.9299C21.2225 13.0174 21.3412 13.0665 21.4649 13.0665C21.5887 13.0665 21.7073 13.0174 21.7948 12.9299C21.8823 12.8424 21.9315 12.7237 21.9315 12.5999C21.9276 9.25147 19.2142 6.53801 15.8658 6.53418C15.608 6.53418 15.3992 6.74306 15.3992 7.00076C15.3992 7.25846 15.608 7.46734 15.8658 7.46734Z">
                                                </path>
                                                <path
                                                    d="M15.8658 10.2671C17.1536 10.2687 18.1972 11.3123 18.1988 12.6001C18.1988 12.7239 18.2479 12.8426 18.3354 12.9301C18.4229 13.0176 18.5416 13.0667 18.6653 13.0667C18.7891 13.0667 18.9078 13.0176 18.9953 12.9301C19.0828 12.8426 19.1319 12.7239 19.1319 12.6001C19.1298 10.7972 17.6687 9.33601 15.8658 9.33398C15.608 9.33398 15.3992 9.54286 15.3992 9.80056C15.3992 10.0583 15.608 10.2671 15.8658 10.2671Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="content">
                                            <span>To More Inquiry</span>
                                            <h6>
                                                <a href="tel:9292507743">(+1) 929 250 7743</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="hotline-area">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                                viewbox="0 0 26 26">
                                                <path
                                                    d="M13.5367 14.7299C12.5654 14.7253 11.6005 14.573 10.675 14.2784C9.94863 14.0353 9.29972 13.6039 8.79454 13.0282C8.28935 12.4524 7.94598 11.7529 7.79946 11.0011C7.47317 9.42986 8.06813 7.76849 9.43051 6.44251C9.57687 6.30005 9.72894 6.16358 9.88637 6.03345C10.5736 5.45807 11.3905 5.05858 12.2666 4.86946C13.1428 4.68035 14.0517 4.70729 14.9151 4.94797C15.7431 5.21236 16.469 5.72653 16.9932 6.4199C17.5174 7.11328 17.8141 7.95188 17.8427 8.82061C17.9062 9.84533 17.5722 10.8551 16.9102 11.6398C16.6597 11.9553 16.3272 12.1956 15.9491 12.3344C15.571 12.4732 15.162 12.5052 14.7669 12.4267C14.6039 12.3929 14.4494 12.3265 14.3126 12.2316C14.1758 12.1367 14.0596 12.0151 13.9709 11.8743C13.8913 11.7374 13.8401 11.5859 13.8205 11.4288C13.8008 11.2717 13.8131 11.1122 13.8565 10.9599C14.2357 9.52736 14.6209 7.35033 14.6248 7.32866C14.6347 7.27261 14.6555 7.21906 14.6861 7.17106C14.7167 7.12307 14.7565 7.08157 14.8031 7.04894C14.8498 7.0163 14.9024 6.99317 14.9579 6.98087C15.0135 6.96857 15.071 6.96733 15.127 6.97724C15.1831 6.98714 15.2366 7.00798 15.2846 7.03858C15.3326 7.06918 15.3741 7.10893 15.4067 7.15557C15.4394 7.2022 15.4625 7.25481 15.4748 7.31038C15.4871 7.36596 15.4883 7.42341 15.4784 7.47946C15.4624 7.57003 15.0828 9.71413 14.6946 11.1814C14.6809 11.2216 14.6756 11.2643 14.6789 11.3067C14.6823 11.3491 14.6942 11.3903 14.7141 11.4279C14.774 11.5108 14.8644 11.5664 14.9654 11.5826C15.2073 11.623 15.4557 11.5965 15.6836 11.506C15.9116 11.4155 16.1105 11.2645 16.2589 11.0691C16.773 10.4541 17.0306 9.66472 16.9782 8.86481C16.9575 8.17325 16.7233 7.50504 16.3078 6.95187C15.8923 6.3987 15.3157 5.98767 14.6573 5.77519C13.9319 5.57566 13.1689 5.55562 12.434 5.7168C11.6992 5.87798 11.0146 6.21553 10.4393 6.70034C10.3002 6.81604 10.1646 6.93694 10.0346 7.06347C9.36117 7.71866 8.28522 9.07844 8.64792 10.8247C8.76766 11.4243 9.04196 11.9821 9.44365 12.443C9.84535 12.9039 10.3605 13.2519 10.938 13.4524C12.9703 14.1007 15.891 14.1791 17.4293 12.266C17.5022 12.1793 17.6061 12.1246 17.7188 12.1136C17.8315 12.1025 17.944 12.1361 18.0323 12.207C18.1206 12.2779 18.1776 12.3805 18.1912 12.493C18.2047 12.6054 18.1737 12.7186 18.1048 12.8085C16.9669 14.2238 15.2353 14.7299 13.5367 14.7299Z">
                                                </path>
                                                <path
                                                    d="M12.0531 12.4837C11.595 12.4917 11.1481 12.3416 10.7878 12.0586C9.9562 11.393 9.93324 10.2365 10.1664 9.44911C10.2452 9.18694 10.3505 8.93345 10.4814 8.69295C10.8065 8.03693 11.3264 7.49738 11.9699 7.14814C12.3602 6.94569 12.8052 6.87413 13.2393 6.94404C13.6734 7.01396 14.0735 7.22164 14.3805 7.5364C14.6932 7.87907 14.9287 8.28484 15.0712 8.72632C15.107 8.83391 15.0992 8.95127 15.0495 9.05319C14.9998 9.15511 14.9121 9.23348 14.8052 9.27148C14.6984 9.30948 14.5809 9.30408 14.478 9.25643C14.3751 9.20879 14.295 9.1227 14.2548 9.01665C14.1521 8.69059 13.9813 8.39004 13.7539 8.13483C13.5751 7.95191 13.3414 7.83246 13.0884 7.79468C12.8354 7.7569 12.577 7.80284 12.3525 7.92553C11.8699 8.1977 11.4821 8.61094 11.241 9.10981C11.1398 9.2968 11.058 9.4937 10.9971 9.6974C10.8285 10.2668 10.8658 11.0104 11.3303 11.3822C11.8381 11.7904 12.6953 11.6179 13.1776 11.2019C13.5368 10.8783 13.8454 10.5026 14.0932 10.0874C14.1232 10.039 14.1624 9.99704 14.2087 9.96384C14.2549 9.93064 14.3073 9.90687 14.3627 9.8939C14.4181 9.88092 14.4756 9.87899 14.5317 9.88821C14.5879 9.89743 14.6417 9.91763 14.6901 9.94765C14.7384 9.97766 14.7804 10.0169 14.8136 10.0632C14.8468 10.1094 14.8706 10.1617 14.8836 10.2172C14.8966 10.2726 14.8985 10.33 14.8893 10.3862C14.88 10.4424 14.8598 10.4962 14.8298 10.5446C14.5361 11.0337 14.1705 11.4759 13.7452 11.8562C13.2714 12.256 12.673 12.4779 12.0531 12.4837Z">
                                                </path>
                                                <path
                                                    d="M24.6996 26.0015H1.29998C0.955309 26.0011 0.624854 25.864 0.381135 25.6203C0.137416 25.3766 0.000344239 25.0462 8.47364e-08 24.7015V8.66841C-5.14206e-05 8.58603 0.023378 8.50535 0.0675423 8.43581C0.111707 8.36628 0.174776 8.31077 0.249359 8.2758C0.323942 8.24083 0.406948 8.22784 0.488649 8.23836C0.57035 8.24887 0.647361 8.28246 0.710655 8.33518L11.3428 17.1716C11.8091 17.5569 12.3952 17.7677 13.0002 17.7677C13.6052 17.7677 14.1913 17.5569 14.6577 17.1716L25.2889 8.33474C25.3523 8.282 25.4293 8.24841 25.511 8.23791C25.5928 8.22741 25.6758 8.24043 25.7504 8.27546C25.825 8.31048 25.8881 8.36605 25.9322 8.43565C25.9763 8.50525 25.9997 8.58599 25.9996 8.66841V24.7015C25.9992 25.0462 25.8622 25.3766 25.6184 25.6203C25.3747 25.864 25.0443 26.0011 24.6996 26.0015ZM0.866653 9.59183V24.7015C0.866653 24.9407 1.06078 25.1348 1.29998 25.1348H24.6996C24.8145 25.1348 24.9247 25.0892 25.006 25.0079C25.0873 24.9266 25.1329 24.8164 25.1329 24.7015V9.59183L15.2106 17.838C14.5887 18.352 13.807 18.6333 13.0002 18.6335C12.1933 18.6336 11.4116 18.3527 10.7894 17.8389L0.866653 9.59183Z">
                                                </path>
                                                <path
                                                    d="M0.434172 9.10179C0.342147 9.10197 0.252454 9.07285 0.178087 9.01865C0.103719 8.96444 0.0485401 8.88797 0.020542 8.8003C-0.00745601 8.71264 -0.00681877 8.61834 0.0223615 8.53106C0.0515417 8.44379 0.10775 8.36807 0.182842 8.31487L4.08278 5.55025C4.17656 5.48377 4.29291 5.45726 4.40623 5.47656C4.51955 5.49586 4.62057 5.55939 4.68705 5.65316C4.75354 5.74694 4.78005 5.86329 4.76075 5.97662C4.74145 6.08994 4.67792 6.19095 4.58414 6.25744L0.684201 9.02206C0.611181 9.074 0.52378 9.10187 0.434172 9.10179ZM25.5662 9.10179C25.4766 9.10187 25.3892 9.074 25.3162 9.02206L21.4163 6.25744C21.3235 6.19062 21.2609 6.08984 21.242 5.97706C21.2232 5.86427 21.2498 5.74862 21.3159 5.65531C21.382 5.56201 21.4823 5.4986 21.5949 5.47892C21.7075 5.45924 21.8234 5.48488 21.9172 5.55025L25.8171 8.31487C25.8922 8.36802 25.9483 8.44367 25.9775 8.53086C26.0067 8.61805 26.0075 8.71227 25.9796 8.79989C25.9517 8.88751 25.8966 8.96399 25.8224 9.01826C25.7482 9.07253 25.6582 9.10179 25.5662 9.10179ZM17.0041 3.03522C16.9144 3.0353 16.8269 3.00744 16.7537 2.95549L14.6824 1.48651C14.2165 1.09272 13.6271 0.874976 13.0171 0.871254C12.4071 0.867532 11.8151 1.07807 11.3445 1.46615L9.24716 2.95549C9.15339 3.02198 9.03704 3.04848 8.92371 3.02918C8.81039 3.00988 8.70937 2.94635 8.64289 2.85258C8.57641 2.7588 8.5499 2.64245 8.5692 2.52912C8.5885 2.4158 8.65203 2.31479 8.7458 2.2483L10.8171 0.779325C11.4376 0.271931 12.2154 -0.00360176 13.017 3.55561e-05C13.8186 0.00367287 14.5938 0.286253 15.2097 0.799258L17.255 2.2483C17.3301 2.3015 17.3863 2.37722 17.4155 2.46449C17.4447 2.55177 17.4453 2.64607 17.4173 2.73373C17.3893 2.8214 17.3342 2.89787 17.2598 2.95208C17.1854 3.00628 17.0957 3.0354 17.0037 3.03522H17.0041ZM0.715401 25.7675C0.626173 25.7677 0.539066 25.7403 0.465979 25.6891C0.392892 25.638 0.337387 25.5655 0.307046 25.4815C0.276706 25.3976 0.273008 25.3064 0.296459 25.2203C0.31991 25.1342 0.369366 25.0575 0.438072 25.0005L10.3266 16.7847C10.3704 16.7483 10.4209 16.7209 10.4753 16.7041C10.5296 16.6873 10.5868 16.6813 10.6435 16.6865C10.7001 16.6918 10.7552 16.7082 10.8056 16.7347C10.8559 16.7612 10.9006 16.7974 10.9369 16.8412C10.9733 16.885 11.0007 16.9355 11.0175 16.9899C11.0343 17.0443 11.0403 17.1014 11.0351 17.1581C11.0298 17.2148 11.0134 17.2699 10.9869 17.3202C10.9604 17.3706 10.9242 17.4152 10.8804 17.4516L0.991863 25.6674C0.914246 25.7321 0.816424 25.7675 0.715401 25.7675ZM25.2846 25.7675C25.1835 25.7676 25.0857 25.7322 25.0081 25.6674L15.1196 17.4516C15.0747 17.4156 15.0374 17.371 15.0099 17.3204C14.9824 17.2699 14.9652 17.2143 14.9594 17.1571C14.9536 17.0998 14.9593 17.042 14.9761 16.9869C14.9929 16.9319 15.0205 16.8807 15.0573 16.8365C15.0941 16.7922 15.1393 16.7557 15.1903 16.7291C15.2414 16.7025 15.2972 16.6863 15.3546 16.6816C15.4119 16.6768 15.4697 16.6835 15.5244 16.7013C15.5791 16.719 15.6298 16.7475 15.6734 16.7851L25.5619 25.001C25.6306 25.0579 25.6801 25.1347 25.7035 25.2207C25.727 25.3068 25.7233 25.3981 25.6929 25.482C25.6626 25.5659 25.6071 25.6384 25.534 25.6896C25.4609 25.7408 25.3738 25.7677 25.2846 25.7675Z">
                                                </path>
                                                <path
                                                    d="M21.6668 12.3427C21.5518 12.3427 21.4416 12.2971 21.3604 12.2158C21.2791 12.1346 21.2334 12.0243 21.2334 11.9094V3.03836C21.2321 3.04703 21.2148 3.03489 21.1858 3.03489H4.81471C4.80523 3.03432 4.79574 3.03568 4.7868 3.03888C4.77786 3.04208 4.76967 3.04707 4.76271 3.05353L4.76704 11.9094C4.76704 12.0243 4.72139 12.1346 4.64013 12.2158C4.55886 12.2971 4.44864 12.3427 4.33372 12.3427C4.21879 12.3427 4.10857 12.2971 4.02731 12.2158C3.94604 12.1346 3.90039 12.0243 3.90039 11.9094V3.03489C3.9072 2.79889 4.00723 2.57519 4.17859 2.41276C4.34994 2.25033 4.57867 2.16241 4.81471 2.16824H21.1858C21.4218 2.16241 21.6505 2.25033 21.8219 2.41276C21.9933 2.57519 22.0933 2.79889 22.1001 3.03489V11.9094C22.1001 12.0243 22.0544 12.1346 21.9732 12.2158C21.8919 12.2971 21.7817 12.3427 21.6668 12.3427Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="content">
                                            <span>To Send Mail</span>
                                            <h6>
                                                <a href="mailto:info@dynamicrms.com">info@dynamicrms.com</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-form-wrap wow animate zoomIn" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <h3>Drop Us a Message</h3>
                                <form method="post" action="/">
                                    <div class="row">
                                        <div class="col-lg-12 mb-20">
                                            <div class="form-inner">
                                                <label>Full Name</label>
                                                <input type="text" name="username" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-20">
                                            <div class="form-inner">
                                                <label>Phone Number *</label>
                                                <input type="text" name="phone" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-20">
                                            <div class="form-inner">
                                                <label>Your Email *</label>
                                                <input type="email" name="email" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-30">
                                            <div class="form-inner">
                                                <label>Message *</label>
                                                <textarea name="message" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-inner">
                                                <button class="primary-btn2" type="submit" data-text="Submit Now">
                                                    <span>
                                                        Submit Now
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contact Section Ends -->

            <%- include('partials/footer') -%>