<%- include('partials/header') -%>

    <div class="breadcrumb-section" style="background: linear-gradient(180deg,rgba(48,103,255,0.08) 0%,rgba(48,103,255,0) 100%)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-wrapper">
                        <div class="banner-content">
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home</a></li>
                                <li>Mobile App Development</li>
                            </ul>
                            <h1>Custom Mobile App Development Company Specializing in Tailored Solutions for Your Business Needs</h1>
                        </div>
                        <div class="scroll-down-btn">
                            <a href="#service-details-section">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewbox="0 0 19 29">
                                    <path
                                        d="M9.5 0V28M9.5 28C10 24.3333 12.4 17.1 18 17.5M9.5 28C8.5 24.1667 5.4 16.7 1 17.5">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="service-details-page pt-120 mb-120" id="service-details-section">
        <div class="container">
            <div class="service-details-top-area mb-80">
                <div class="row g-lg-4 gy-5 align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2 wow animate fadeInLeft" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="service-details-top-content">
                            <h2>Top Mobile App Development</h2>
                            <p>As a leading mobile app development company, we specialize in creating innovative and scalable apps for global businesses. Our expert developers use the latest tech stacks and integrate third-party APIs to ensure a seamless user experience. We're committed to excellence in every project we undertake.</p>
                            <ul class="key-features">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Ionic App Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Flutter App Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Xamarin App Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Java App Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Andriod App Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    iPhone App Development
                                </li>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Swift App Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    Kotlin App Development
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15">
                                        <path
                                            d="M0.376831 8.16821C-0.247095 8.54593 -0.0579659 9.49862 0.662688 9.60837C1.24211 9.69666 1.52052 10.3701 1.17304 10.8431C0.740845 11.4312 1.27942 12.2389 1.98713 12.0639C2.55609 11.9231 3.07065 12.4387 2.9302 13.0088C2.75556 13.718 3.56158 14.2577 4.14855 13.8246C4.62054 13.4764 5.29275 13.7554 5.38073 14.336C5.49024 15.0581 6.44099 15.2476 6.81798 14.6224C7.12107 14.1198 7.84864 14.1198 8.15171 14.6224C8.52867 15.2476 9.47943 15.0581 9.58896 14.336C9.67707 13.7554 10.3492 13.4764 10.8211 13.8246C11.4081 14.2577 12.2142 13.718 12.0395 13.0088C11.899 12.4387 12.4136 11.9231 12.9826 12.0639C13.6903 12.2389 14.2289 11.4312 13.7967 10.8431C13.4492 10.3701 13.7276 9.69653 14.307 9.60837C15.0276 9.49864 15.2168 8.54597 14.5929 8.16821C14.0912 7.86452 14.0912 7.13547 14.5929 6.83178C15.2168 6.45407 15.0277 5.50138 14.307 5.39162C13.7276 5.30334 13.4492 4.62989 13.7967 4.15695C14.2289 3.56879 13.6903 2.76112 12.9826 2.93613C12.4136 3.07687 11.8991 2.5613 12.0395 1.99115C12.2141 1.28199 11.4081 0.742345 10.8211 1.17541C10.3492 1.52356 9.67695 1.2446 9.58896 0.664029C9.47945 -0.0580599 8.5287 -0.247606 8.15171 0.377594C7.84863 0.880237 7.12106 0.880237 6.81798 0.377594C6.44103 -0.247596 5.49027 -0.0580833 5.38073 0.664029C5.29263 1.24462 4.62054 1.5236 4.14855 1.17541C3.56158 0.742345 2.75554 1.28201 2.9302 1.99115C3.07065 2.56126 2.55612 3.07686 1.98713 2.93613C1.2794 2.76113 0.740845 3.56879 1.17304 4.15695C1.52049 4.62989 1.24209 5.30346 0.662688 5.39162C-0.0579425 5.50136 -0.247105 6.45403 0.376831 6.83178C0.878459 7.13548 0.878459 7.86453 0.376831 8.16821Z">
                                        </path>
                                    </svg>
                                    React Native App Development
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1 wow animate fadeInRight" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="service-details-img">
                            <img src="assets/img/innerpage/mobile-app-development.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-details-feature-section mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title5 mb-70 wow animate fadeInLeft" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <h2>Core Mobile App Services for a Mobile-First World</h2>
                        <p>Get end-to-end custom app development services from the experts of the Top Mobile App Development Company</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="service-feature-list">
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="200ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/app-development-consultation.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>App Development Consultation</h5>
                                <p>Our team of mobile app developers helps individuals to businesses make their app ideas amazing and exceptional for their target audience offering, app development consultation leveraging our years of app development expertise and experience.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/mobile-app-design.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Mobile App Design</h5>
                                <p>The design team of a custom app development company makes sure to define the app wireframe and visualization of the mobile application considering your business goals, target audience, current app design trends, and more.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="600ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/custom-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Custom App Development</h5>
                                <p>Whether you need a simple app development solution or have the most complex app development requirement in the store, hire app developers from our app development team to get app solutions with a higher user satisfaction ratio.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="800ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/native-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Native App Development</h5>
                                <p>Our team of app developers offers Native App Development services to create functional and innovative mobile applications that offer unique user experiences for iOS or Android operating platforms.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/crossplatform-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Cross-Platform App Development</h5>
                                <p>Our app development team is proficient in offering cross-platform app development services that offer a native-like user experience for multiple platforms such as iOS, Android, and more using a single code base.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/iot-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>IoT App Development</h5>
                                <p>Our app development team has the experience and expertise to develop IoT applications enriched with the latest technologies Artificial Intelligence, machine learning, and more for various industries.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/wearable-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Wearable App Development</h5>
                                <p>Get an exceptional team of mobile app developers to work on your wearable app development requirements to get the application browsable on various devices, including Apple Watch, Android Wear, Fitness Bands, and more.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/mobile-game-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Mobile Game Development</h5>
                                <p>Let our game developers leverage their years of experience and expertise to create immersive mobile gaming solutions offering top-notch gaming experiences for Android, iOS, and cross-platform devices.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/arvr-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>AR/VR App Development</h5>
                                <p>Hire app developers from a leading top app development company to offer immersive user experience to your target audience by leveraging the offering of the latest technologies like Augmented reality, virtual reality, and more.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/ecommerce-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>E-Commerce App Development</h5>
                                <p>Let our Mobile app development team take your business into the palm of mobile users by developing e-commerce applications and making your products and services browsable for global users.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/app-migrationn.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>App Migration</h5>
                                <p>Make your mobile application browsable on the different operation systems through our app migration service offering that can help you leverage the exceptional offering of different cross-platform development tech stacks.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/web-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Web App Development</h5>
                                <p>The custom app development company holds the proficiency to develop the application browsable on different web browsers, integrating cutting-edge tech stacks to offer a remarkable user experience.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/prograssive-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Progressive App Development</h5>
                                <p>Combine and offer the best of web and app experiences along with reliable, fast, and engaging, providing a seamless user experience across different devices through our progressive app development services.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/mobile-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Mobile App Deployment</h5>
                                <p>Our app development team holds years of experience and expertise in deploying applications on different platforms following simple integration and deployment guidelines.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/app-support.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>App Support and Maintenance</h5>
                                <p>Get the much-needed post-deployment support and maintenance to enhance the life span of your mobile application keeping it away from bugs and malware attacks and browsable for your target audience.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/app-redeployment.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>App Redevelopment</h5>
                                <p>Have an existing mobile application with old features and functionalities? Let the developers of a top mobile app development company offer a makeover for your existing application integrating user-friendly UI, advanced tech stacks, and more to make it trendy and approachable for your target audience.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/on-demand-app-development.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>On-demand App Development</h5>
                                <p>Let it be food, medicines, or any other services let the suppliers reach out to their customers within minutes offering intuitive on-demand mobile applications with top-notch features and functionalities.</p>
                            </div>
                        </li>
                        <li class="single-feature wow animate fadeInDown" data-wow-delay="400ms"
                            data-wow-duration="1500ms">
                            <div class="icon">
                                <img width="32" height="32" src="/assets/img/services-icon/mobile-app-development/hire-app-developer.svg" alt="icon"/>
                            </div>
                            <div class="content">
                                <h5>Hire App Developers</h5>
                                <p>Hire app developers from a leading mobile application development company to deliver outstanding mobile applications leveraging our app development experience and expertise.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="home3-project-management-section service-details-tools-section scroll-margin pt-120 mb-120" id="project-section">
        <div class="container">
            <div class="row justify-content-center mb-60">
                <div class="col-lg-8">
                    <div class="section-title5 text-center">
                        <span class="sub-title5 two">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                <path
                                    d="M3.7081 12.9544C3.41861 13.1128 3.09011 12.8352 3.14861 12.4808L3.7711 8.69694L1.12886 6.01223C0.882112 5.76104 1.01036 5.30186 1.34111 5.25226L5.0146 4.69548L6.6526 1.23399C6.80035 0.922003 7.2001 0.922003 7.34785 1.23399L8.98584 4.69548L12.6593 5.25226C12.9901 5.30186 13.1183 5.76104 12.8708 6.01223L10.2293 8.69694L10.8518 12.4808C10.9103 12.8352 10.5818 13.1128 10.2923 12.9544L6.9991 11.1497L3.7081 12.9544Z">
                                </path>
                            </svg>
                            Our Tools
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14">
                                <path
                                    d="M3.7081 12.9544C3.41861 13.1128 3.09011 12.8352 3.14861 12.4808L3.7711 8.69694L1.12886 6.01223C0.882112 5.76104 1.01036 5.30186 1.34111 5.25226L5.0146 4.69548L6.6526 1.23399C6.80035 0.922003 7.2001 0.922003 7.34785 1.23399L8.98584 4.69548L12.6593 5.25226C12.9901 5.30186 13.1183 5.76104 12.8708 6.01223L10.2293 8.69694L10.8518 12.4808C10.9103 12.8352 10.5818 13.1128 10.2923 12.9544L6.9991 11.1497L3.7081 12.9544Z">
                                </path>
                            </svg>
                        </span>
                        <h2>App Development Technologies<span>We Work On.</span></h2>
                    </div>
                </div>
            </div>
            <div class="project-management-tab-wrapper">
                <div class="project-management-nav mb-50">
                    <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link active text-uppercase" id="front-end-tab" data-bs-toggle="tab"
                                data-bs-target="#front-end" type="button" role="tab"
                                aria-controls="front-end" aria-selected="true">FrontEnd</button>
                            <button class="nav-link text-uppercase" id="back-end-tab" data-bs-toggle="tab" data-bs-target="#back-end"
                                type="button" role="tab" aria-controls="back-end" aria-selected="false">BackEnd</button>
                            <button class="nav-link text-uppercase" id="database-tab" data-bs-toggle="tab"
                                data-bs-target="#database" type="button" role="tab"
                                aria-controls="database" aria-selected="false">Database</button>
                            <button class="nav-link text-uppercase" id="devops-tab" data-bs-toggle="tab"
                                data-bs-target="#devops" type="button" role="tab"
                                aria-controls="devops" aria-selected="false">Devops</button>
                            <button class="nav-link text-uppercase" id="quality-assurance-tab" data-bs-toggle="tab" data-bs-target="#quality-assurance"
                                type="button" role="tab" aria-controls="quality-assurance" aria-selected="false">QUALITY ASSURANCE</button>
                        </div>
                    </nav>
                </div>
                <div class="project-management-tab">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="front-end" role="tabpanel"
                            aria-labelledby="front-end-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/javascript.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>JavaScript</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/typescript.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>TypeScript</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/vuejs.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Vue Js</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/angular-js.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Angular</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/flutter.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Flutter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/kotlin.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Kotlin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/swift-icon.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Swift</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/react-js.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>React Js</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/html-5.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>HTML 5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/css-3.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>CSS 3</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="back-end" role="tabpanel" aria-labelledby="back-end-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/node-js.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Node Js</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/python.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Python</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/php.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Php</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/java.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Java</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/spring.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Spring</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/ruby-on-rails.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Ruby on Rails</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/django.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Django</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/expressjs.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Express Js</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="database" role="tabpanel"
                            aria-labelledby="database-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/mongodb.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>MongoDB</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/mysql.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>MySQL</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/postgresql.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>PostgreSQL</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/firebase.png" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Firebase</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="devops" role="tabpanel"
                            aria-labelledby="devops-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/chef.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Chef</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/terraform-tech.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Terraform</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/jenkins.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Jenkins</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/gitlab-icon.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>GitLab</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/ansible.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Ansible</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/docker.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Docker</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/kubernetes.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Kubernetes</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/circleci.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>circleci</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="quality-assurance" role="tabpanel" aria-labelledby="quality-assurance-tab">
                            <div class="row g-4">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/selenium.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Selenium</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/appium.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Appium</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/testng.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>TestNG</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/cucumber.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Cucumber</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/postman.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>Postman</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/jmeter.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>JMeter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/loadrunner.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>LoadRunner</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tools-card">
                                        <div class="tools-icon">
                                            <img class="svg-icon" src="assets/img/innerpage/icon/testrail.svg" alt="">
                                        </div>
                                        <div class="tools-name">
                                            <span>TestRail</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/contact') -%>

    <%- include('partials/footer') -%>